@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?48724662');
  src: url('../fonts/fontello.eot?48724662#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?48724662') format('woff2'),
       url('../fonts/fontello.woff?48724662') format('woff'),
       url('../fonts/fontello.ttf?48724662') format('truetype'),
       url('../fonts/fontello.svg?48724662#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before { content: '\e800'; }
.icon-lupa:before { content: '\e801'; }
.icon-envelope:before { content: '\e802'; }
.icon-seta_direita:before { content: '\e803'; }
.icon-facebook:before { content: '\e804'; }
.icon-instagram:before { content: '\e805'; }
.icon-loba:before { content: '\e806'; }
.icon-play:before { content: '\e807'; }
.icon-seta_esquerda:before { content: '\e808'; }
.icon-check:before { content: '\e809'; }

@font-face {
    font-family: 'hurme_geometric_sans_3black';
    src: url('../fonts/hurmegeometricsans3_black-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hurme_geometric_sans_3BlkOb';
    src: url('../fonts/hurmegeometricsans3_blackoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_blackoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3bold';
    src: url('../fonts/hurmegeometricsans3_bold-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3BdOb';
    src: url('../fonts/hurmegeometricsans3_boldoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_boldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_hairline';
    src: url('../fonts/hurmegeometricsans3_hairline-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sanhairlineOb';
    src: url('../fonts/hurmegeometricsans3_hairlineoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_hairlineoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3light';
    src: url('../fonts/hurmegeometricsans3_light-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3LtOb';
    src: url('../fonts/hurmegeometricsans3_lightoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_lightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3SBd';
    src: url('../fonts/hurmegeometricsans3_semibold-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3SBdOb';
    src: url('../fonts/hurmegeometricsans3_semiboldoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_semiboldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3thin';
    src: url('../fonts/hurmegeometricsans3_thin-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3ThOb';
    src: url('../fonts/hurmegeometricsans3_thinoblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_thinoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3regular';
    src: url('../fonts/hurmegeometricsans3-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme_geometric_sans_3oblique';
    src: url('../fonts/hurmegeometricsans3_oblique-webfont.woff2') format('woff2'),
         url('../fonts/hurmegeometricsans3_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
@mixin setFont($font-size,$color,$font-weight:400, $line-height:inherit){
    font-family: "Open Sans";
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}
*/
@mixin hurme_black($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3black';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_black_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3BlkOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_bold($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3bold';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_bold_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3BdOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_hairline($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_hairline';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_hairline_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sanhairlineOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_light($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3light';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_light_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3LtOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_semibold($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3SBd';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_semibold_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3SBdOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_thin($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3thin';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_thin_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3ThOb';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_regular($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3regular';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
@mixin hurme_regular_obl($font-size, $line-height, $color){
    font-family: 'hurme_geometric_sans_3oblique';
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
