/* dimensao do meu content */
$max-width: 1186px;

/* breaking point mobile */
$mobile: max-width 1200px 4;

/* breaking 1400 */
$big_screen: max-width 1540px 4;

/* breaking point desktop */
$hover: min-width 1201px 4;

/* dimensao gutter */
$gutter: (14 / 16) * 1em;

/* dimensao colunas */
$column: (95 / 16) * 1em;

/* reset ao omega */
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
