/*@import "compass";
@import "compass/css3";*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?48724662");
  src: url("../fonts/fontello.eot?48724662#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?48724662") format("woff2"), url("../fonts/fontello.woff?48724662") format("woff"), url("../fonts/fontello.ttf?48724662") format("truetype"), url("../fonts/fontello.svg?48724662#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, base/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, base/_fonts.scss */
.icon-phone:before {
  content: '\e800';
}

/* line 30, base/_fonts.scss */
.icon-lupa:before {
  content: '\e801';
}

/* line 31, base/_fonts.scss */
.icon-envelope:before {
  content: '\e802';
}

/* line 32, base/_fonts.scss */
.icon-seta_direita:before {
  content: '\e803';
}

/* line 33, base/_fonts.scss */
.icon-facebook:before {
  content: '\e804';
}

/* line 34, base/_fonts.scss */
.icon-instagram:before {
  content: '\e805';
}

/* line 35, base/_fonts.scss */
.icon-loba:before {
  content: '\e806';
}

/* line 36, base/_fonts.scss */
.icon-play:before {
  content: '\e807';
}

/* line 37, base/_fonts.scss */
.icon-seta_esquerda:before {
  content: '\e808';
}

/* line 38, base/_fonts.scss */
.icon-check:before {
  content: '\e809';
}

@font-face {
  font-family: 'hurme_geometric_sans_3black';
  src: url("../fonts/hurmegeometricsans3_black-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3BlkOb';
  src: url("../fonts/hurmegeometricsans3_blackoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_blackoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3bold';
  src: url("../fonts/hurmegeometricsans3_bold-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3BdOb';
  src: url("../fonts/hurmegeometricsans3_boldoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_boldoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_hairline';
  src: url("../fonts/hurmegeometricsans3_hairline-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sanhairlineOb';
  src: url("../fonts/hurmegeometricsans3_hairlineoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_hairlineoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3light';
  src: url("../fonts/hurmegeometricsans3_light-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3LtOb';
  src: url("../fonts/hurmegeometricsans3_lightoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_lightoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3SBd';
  src: url("../fonts/hurmegeometricsans3_semibold-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3SBdOb';
  src: url("../fonts/hurmegeometricsans3_semiboldoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_semiboldoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3thin';
  src: url("../fonts/hurmegeometricsans3_thin-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3ThOb';
  src: url("../fonts/hurmegeometricsans3_thinoblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_thinoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3regular';
  src: url("../fonts/hurmegeometricsans3-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hurme_geometric_sans_3oblique';
  src: url("../fonts/hurmegeometricsans3_oblique-webfont.woff2") format("woff2"), url("../fonts/hurmegeometricsans3_oblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
@mixin setFont($font-size,$color,$font-weight:400, $line-height:inherit){
    font-family: "Open Sans";
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}
*/
/* dimensao do meu content */
/* breaking point mobile */
/* breaking 1400 */
/* breaking point desktop */
/* dimensao gutter */
/* dimensao colunas */
/* reset ao omega */
/* line 4, neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* bxslider alter */
/* line 15, base/_base.scss */
.bx-wrapper {
  /*margin: 0 auto;*/
  margin: 0 auto 60px;
}

/* line 19, base/_base.scss */
.bx-wrapper img {
  max-width: none;
}

/* line 22, base/_base.scss */
.bx-wrapper .bx-prev {
  left: 0;
  background: none;
}

/* line 26, base/_base.scss */
.bx-wrapper .bx-next {
  right: 0;
  background: none;
}

/* line 30, base/_base.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: 0;
  width: auto;
  height: auto;
  text-indent: 0;
}

/* bxslider alter END  */
/* line 40, base/_base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

/* line 47, base/_base.scss */
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

/* line 52, base/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 72, base/_base.scss */
body {
  line-height: 1;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  padding: 90px 90px 0 90px;
  background-color: #fff;
}

/* line 81, base/_base.scss */
ol, ul {
  list-style: none;
}

/* line 84, base/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 87, base/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 92, base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 105, base/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 110, base/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 119, base/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 134, base/_base.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 147, base/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 157, base/_base.scss */
textarea {
  resize: vertical;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 180, base/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 201, base/_base.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 214, base/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 224, base/_base.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 236, base/_base.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 245, base/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 257, base/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 265, base/_base.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 274, base/_base.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/*h1 {
    font-size: 2em;
    margin: 0.67em 0;
}*/
/**
 * Address styling not present in IE 8/9.
 */
/* line 292, base/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 301, base/_base.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 309, base/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 317, base/_base.scss */
sup {
  top: -0.5em;
}

/* line 321, base/_base.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 332, base/_base.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 340, base/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 351, base/_base.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 359, base/_base.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 368, base/_base.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 376, base/_base.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 399, base/_base.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  border: 0;
  border-radius: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 418, base/_base.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 429, base/_base.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 442, base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 454, base/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 463, base/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 474, base/_base.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 486, base/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 498, base/_base.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 508, base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 519, base/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 528, base/_base.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 539, base/_base.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 548, base/_base.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 557, base/_base.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 568, base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 573, base/_base.scss */
td,
th {
  padding: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 583, base/_base.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
/* line 599, base/_base.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 608, base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 625, base/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 639, base/_base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 655, base/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 661, base/_base.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 678, base/_base.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 688, base/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 693, base/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 697, base/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 706, base/_base.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 711, base/_base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 722, base/_base.scss */
  thead {
    display: table-header-group;
  }

  /* line 726, base/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 731, base/_base.scss */
  img {
    max-width: 100% !important;
  }

  /* line 735, base/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 742, base/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* outros estilos */
/* line 765, base/_base.scss */
.row {
  max-width: 1186px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, bourbon/addons/_clearfix.scss */
.row::after {
  clear: both;
  content: "";
  display: table;
}

/*********************/
/* line 771, base/_base.scss */
a {
  color: inherit;
}

/* line 774, base/_base.scss */
.inner {
  display: block;
  width: 1300px;
  margin: 0 auto;
}

/* line 779, base/_base.scss */
.img_holder {
  display: block;
  float: left;
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 787, base/_base.scss */
.img_holder img {
  display: block;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 796, base/_base.scss */
.to_check {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
/* line 801, base/_base.scss */
.to_check label {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  cursor: pointer;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
  padding: 4px 0 5px 20px;
}
/* line 811, base/_base.scss */
.to_check label:before {
  content: '\e809';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  float: left;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 0;
  border: 1px solid #dfdfdf;
  font-size: 4px;
  line-height: 4px;
  color: transparent;
  padding: 2px 0 0 1px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 843, base/_base.scss */
  .to_check label:hover {
    color: #464646;
  }
}
@media screen and (min-width: 1201px) {
  /* line 847, base/_base.scss */
  .to_check label:hover:before {
    border-color: #464646;
  }
}
/* line 854, base/_base.scss */
.to_check input {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 859, base/_base.scss */
.to_check input:checked + label {
  color: #a78b6e;
}
/* line 861, base/_base.scss */
.to_check input:checked + label:before {
  color: #a78b6e;
  border-color: #a78b6e;
}

/* line 1, components/_index.scss */
header {
  float: left;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  line-height: 1px;
  padding: 0 90px;
  z-index: 99;
}
/* line 13, components/_index.scss */
header .inside_header {
  display: inline-block;
  line-height: normal;
  position: relative;
}
/* line 18, components/_index.scss */
header .logo {
  float: left;
  display: block;
  padding: 33px 10px 29px 10px;
}
/* line 21, components/_index.scss */
header .logo img {
  float: left;
  display: block;
}
@media screen and (max-width: 1540px) {
  /* line 21, components/_index.scss */
  header .logo img {
    height: auto;
    width: 200px;
  }
}
/* line 29, components/_index.scss */
header .main_menu {
  float: left;
  display: block;
  position: relative;
  margin: 0 97px 0 97px;
}
@media screen and (max-width: 1540px) {
  /* line 29, components/_index.scss */
  header .main_menu {
    margin: 0;
  }
}
/* line 36, components/_index.scss */
header .main_menu:before, header .main_menu:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: black;
  top: 45px;
  left: -53px;
}
@media screen and (max-width: 1540px) {
  /* line 36, components/_index.scss */
  header .main_menu:before, header .main_menu:after {
    display: none;
  }
}
/* line 49, components/_index.scss */
header .main_menu:after {
  left: auto;
  right: -53px;
}
/* line 53, components/_index.scss */
header .main_menu > li {
  float: left;
  display: block;
  position: relative;
}
/* line 56, components/_index.scss */
header .main_menu > li > a {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 17px;
  line-height: 19px;
  color: #464646;
  letter-spacing: 0.02em;
  padding: 34px 19px 37px 19px;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 63, components/_index.scss */
header .main_menu > li > a:before {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #805b3b;
  border-radius: 50%;
  top: 44px;
  left: -1px;
}
/* line 75, components/_index.scss */
header .main_menu > li:first-child a {
  margin-left: 0;
}
/* line 78, components/_index.scss */
header .main_menu > li:first-child a:before {
  display: none;
}
/* line 81, components/_index.scss */
header .main_menu > li .submenu {
  display: none;
  float: left;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 490px;
  background-color: #fff;
  padding: 13px 0 12px 10px;
}
/* line 91, components/_index.scss */
header .main_menu > li .submenu:before {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  top: -10px;
  left: 50%;
  background-color: #805b3b;
  z-index: 2;
}
/* line 102, components/_index.scss */
header .main_menu > li .submenu > ul {
  float: left;
  display: block;
  width: 33.3%;
}
/* line 106, components/_index.scss */
header .main_menu > li .submenu > ul > li {
  float: left;
  display: block;
  width: 137px;
  margin: 0 10px;
}
/* line 111, components/_index.scss */
header .main_menu > li .submenu > ul > li > a {
  float: left;
  display: block;
  width: 100%;
  border-top: 1px solid #f8f8f8;
  text-align: left;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.05em;
  padding: 5px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 120, components/_index.scss */
  header .main_menu > li .submenu > ul > li > a:hover {
    color: #805b3b;
  }
}
/* line 126, components/_index.scss */
header .main_menu > li .submenu li:first-child a {
  border-top: none;
}
/* line 130, components/_index.scss */
header .main_menu > li:hover .submenu {
  display: block;
}
/* line 133, components/_index.scss */
header .main_menu > li .submenu.pontos_venda {
  min-width: 750px;
  text-align: left;
  padding: 0 0 0 0;
}
/* line 137, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos {
  float: left;
  display: block;
  width: 160px;
  margin: 0 20px 0 40px;
  padding: 2px 0 0 0;
}
/* line 142, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos .titulo {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 15px;
  line-height: 17px;
  color: #464646;
  letter-spacing: 0.02em;
  margin: 15px 0 3px 0;
}
/* line 149, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul, header .main_menu > li .submenu.pontos_venda .pontos ul > li, header .main_menu > li .submenu.pontos_venda .pontos ul > li > a {
  float: left;
  display: block;
  width: 100%;
}
/* line 153, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul {
  border-bottom: 1px solid #c6c6c6;
  padding: 0 0 13px 0;
  margin: 0 0 0 0;
}
/* line 157, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul.no_brd {
  border-bottom: none;
}
/* line 161, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul > li > a {
  position: relative;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #c6c6c6;
  letter-spacing: 0.05em;
  padding: 0 0 0 15px;
  margin: 0 0 3px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 168, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul > li > a:before {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #c6c6c6;
  border-radius: 50%;
  top: 6px;
  left: 0;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 181, components/_index.scss */
  header .main_menu > li .submenu.pontos_venda .pontos ul > li > a:hover {
    color: #805b3b;
  }
}
/* line 185, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .pontos ul > li > a:hover:before {
  background-color: #805b3b;
}
/* line 190, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .img_holder {
  position: absolute;
  width: 510px;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
/* line 199, components/_index.scss */
header .main_menu > li .submenu.pontos_venda .img_holder .info {
  float: left;
  display: block;
  position: absolute;
  width: 245px;
  top: 15px;
  left: 17px;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 45px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  z-index: 1;
}
/* line 214, components/_index.scss */
header .search_button {
  float: left;
  display: block;
  color: #464646;
  font-size: 12px;
  padding: 39px 10px 33px 10px;
  margin: 0 0 0 1px;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 221, components/_index.scss */
  header .search_button:hover {
    color: #805b3b;
  }
}
/* line 227, components/_index.scss */
header .search_box {
  display: none;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 349px;
  right: 97px;
}
/* line 236, components/_index.scss */
header .search_box input {
  float: left;
  display: block;
  width: 100%;
  padding: 0 20px 0 20px;
  font-family: 'hurme_geometric_sans_3LtOb';
  font-size: 17px;
  line-height: 90px;
  color: #464646;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

/* line 245, components/_index.scss */
.fixos {
  float: left;
  display: block;
  position: fixed;
  width: 90px;
  top: 0;
  right: 0;
  z-index: 2;
}
/* line 252, components/_index.scss */
.fixos > li {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 42px 0 0 0;
}
@media screen and (max-width: 1540px) {
  /* line 252, components/_index.scss */
  .fixos > li {
    margin: 30px 0 0 0;
  }
}
/* line 261, components/_index.scss */
.fixos > li > a {
  display: inline-block;
  position: relative;
  padding: 10px;
}
@media screen and (max-width: 1540px) {
  /* line 261, components/_index.scss */
  .fixos > li > a {
    font-size: 14px;
  }
}
/* line 269, components/_index.scss */
.fixos > li:first-child {
  margin-top: 0;
}
/* line 272, components/_index.scss */
.fixos > li:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #896749;
  border-radius: 50%;
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 1540px) {
  /* line 272, components/_index.scss */
  .fixos > li:after {
    top: -16px;
  }
}
/* line 287, components/_index.scss */
.fixos > li:first-child:after {
  display: none;
}

/* line 292, components/_index.scss */
.fixos.idiomas {
  top: 75px;
}
/* line 294, components/_index.scss */
.fixos.idiomas > li > a {
  font-family: 'hurme_geometric_sans_3LtOb';
  font-size: 13px;
  line-height: 15px;
  color: #c6c6c6;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 299, components/_index.scss */
.fixos.idiomas > li > a:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  height: 1px;
  top: 17px;
  left: 8px;
  right: 8px;
  background-color: #c6c6c6;
  -webkit-transition: left 0.2s ease, right 0.2s ease;
  -moz-transition: left 0.2s ease, right 0.2s ease;
  transition: left 0.2s ease, right 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 311, components/_index.scss */
  .fixos.idiomas > li > a:hover {
    font-family: 'hurme_geometric_sans_3LtOb';
    font-size: 13px;
    line-height: 15px;
    color: #464646;
  }
}
@media screen and (min-width: 1201px) {
  /* line 315, components/_index.scss */
  .fixos.idiomas > li > a:hover:after {
    left: 50%;
    right: 50%;
  }
}
/* line 322, components/_index.scss */
.fixos.idiomas > li.active > a {
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #805b3b;
  letter-spacing: 0.05em;
}
/* line 325, components/_index.scss */
.fixos.idiomas > li.active > a:after {
  display: none;
}

/* line 330, components/_index.scss */
.fixos.social_contactos {
  top: auto;
  bottom: 0;
  color: #c6c6c6;
  padding: 0 0 33px 0;
}
/* line 335, components/_index.scss */
.fixos.social_contactos .phone {
  font-size: 22px;
}
/* line 338, components/_index.scss */
.fixos.social_contactos > li {
  position: relative;
}
/* line 341, components/_index.scss */
.fixos.social_contactos > li > a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 344, components/_index.scss */
  .fixos.social_contactos > li > a:hover {
    color: #856345;
  }
}
/* line 349, components/_index.scss */
.fixos.social_contactos > li.open {
  color: #856345;
}
/* line 352, components/_index.scss */
.fixos.social_contactos form {
  float: left;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -635px;
  -webkit-transition: right 0.2s ease;
  -moz-transition: right 0.2s ease;
  transition: right 0.2s ease;
}
/* line 359, components/_index.scss */
.fixos.social_contactos form input {
  float: left;
  display: block;
  width: 630px;
  height: 76px;
  font-family: 'hurme_geometric_sans_3LtOb';
  font-size: 15px;
  line-height: 17px;
  color: #b1b1b1;
  letter-spacing: 0.05em;
  padding: 0 181px 0 20px;
}
/* line 367, components/_index.scss */
.fixos.social_contactos form button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 0.15em;
  background-color: #805b3b;
  padding: 10px 20px 12px 20px;
  text-transform: uppercase;
}
/* line 379, components/_index.scss */
.fixos.social_contactos li.open form {
  right: 90px;
}

/* line 383, components/_index.scss */
.banner_principal {
  float: left;
  display: block;
  width: 100%;
  position: relative;
}
/* line 387, components/_index.scss */
.banner_principal .item {
  position: relative;
}
/* line 389, components/_index.scss */
.banner_principal .item .img_holder {
  float: left;
  display: block;
  width: 100%;
  height: 880px;
}
/* line 393, components/_index.scss */
.banner_principal .item .img_holder img {
  width: auto;
}
/* line 398, components/_index.scss */
.banner_principal .item .info {
  float: left;
  display: block;
  position: absolute;
  width: 62.7906976744186%;
  top: 149px;
  left: 18.6046511627907%;
}
/* line 404, components/_index.scss */
.banner_principal .item .info img, .banner_principal .item .info h3, .banner_principal .item .info h2, .banner_principal .item .info a {
  float: left;
  display: block;
  clear: left;
}
/* line 408, components/_index.scss */
.banner_principal .item .info img {
  width: auto;
  margin: 0 0 62px 0;
}
/* line 412, components/_index.scss */
.banner_principal .item .info h3 {
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 30px;
  line-height: 32px;
  color: #805b3b;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 6px 0;
  padding: 34px 0 0 0;
}
/* line 419, components/_index.scss */
.banner_principal .item .info h3:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 40px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #805b3b;
}
/* line 430, components/_index.scss */
.banner_principal .item .info h2 {
  position: relative;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 65px;
  line-height: 55px;
  color: #464646;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 0 40px 0;
  margin: 0 0 73px 0;
}
/* line 437, components/_index.scss */
.banner_principal .item .info h2:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #805b3b;
}
/* line 448, components/_index.scss */
.banner_principal .item .info a {
  position: relative;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 18px;
  line-height: 20px;
  color: #464646;
}
/* line 451, components/_index.scss */
.banner_principal .item .info a div {
  opacity: 0;
}
/* line 454, components/_index.scss */
.banner_principal .item .info a span {
  float: left;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: letter-spacing 0.2s ease;
  -moz-transition: letter-spacing 0.2s ease;
  transition: letter-spacing 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 462, components/_index.scss */
  .banner_principal .item .info a:hover span {
    letter-spacing: 0.1em;
  }
}
/* line 468, components/_index.scss */
.banner_principal .item .info a svg {
  position: absolute;
  top: -35px;
  left: -7px;
  width: 90px;
  height: 90px;
  transform: rotate(33deg);
}
/* line 476, components/_index.scss */
.banner_principal .item .info a svg.bottom {
  transform: rotate(-147deg);
}
/* line 479, components/_index.scss */
.banner_principal .item .info a .circle {
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 484, components/_index.scss */
.banner_principal .item .info a .svg_1 .circle {
  stroke-dashoffset: 374;
}
/* line 487, components/_index.scss */
.banner_principal .item .info a:hover .svg_1 .circle {
  stroke-dashoffset: 291;
}
/* line 490, components/_index.scss */
.banner_principal .item .info a:hover {
  color: #805b3b;
}
/* line 496, components/_index.scss */
.banner_principal .owl-prev, .banner_principal .owl-next {
  float: left;
  display: block;
  position: absolute;
  top: 50%;
  left: 12.2093023255814%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*background-color:red;*/
  padding: 18px 13px;
  color: #1e1f1d;
  margin-top: 29px;
  /*&:after{
      content:"";
      @include float(left);
      position:absolute;
      width:2px;
      height:2px;
      top:25px;
      right:0;
      background-color:#4f4f4d;
  }*/
}
/* line 517, components/_index.scss */
.banner_principal .owl-prev svg, .banner_principal .owl-next svg {
  position: absolute;
  top: -2px;
  left: -4px;
  width: 65px;
  height: 65px;
  transform: rotate(-4deg);
}
/* line 525, components/_index.scss */
.banner_principal .owl-prev .circle, .banner_principal .owl-next .circle {
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 530, components/_index.scss */
.banner_principal .owl-prev .svg_1 .circle, .banner_principal .owl-next .svg_1 .circle {
  stroke-dashoffset: 374;
}
/* line 533, components/_index.scss */
.banner_principal .owl-prev:hover .svg_1 .circle, .banner_principal .owl-next:hover .svg_1 .circle {
  stroke: #805b3b;
  stroke-dashoffset: 0;
}
/* line 537, components/_index.scss */
.banner_principal .owl-prev:hover, .banner_principal .owl-next:hover {
  color: #805b3b;
}
/* line 542, components/_index.scss */
.banner_principal .owl-next {
  left: auto;
  right: 12.2093023255814%;
}
/* line 545, components/_index.scss */
.banner_principal .owl-next:after {
  right: auto;
  left: 0;
}
/* line 549, components/_index.scss */
.banner_principal .owl-next svg {
  top: -11px;
  left: auto;
  right: -4px;
  transform: rotate(-184deg);
}
/* line 556, components/_index.scss */
.banner_principal .owl-dots {
  float: left;
  display: block;
  position: absolute;
  bottom: 47px;
  right: 247px;
}
/* line 561, components/_index.scss */
.banner_principal .owl-dots .owl-dot {
  float: left;
  display: block;
  position: relative;
  width: 10px;
  height: 8px;
  border-right: 1px solid #464646;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
/* line 568, components/_index.scss */
.banner_principal .owl-dots .owl-dot:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid #805b3b;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 582, components/_index.scss */
.banner_principal .owl-dots .owl-dot.active {
  width: 19px;
}
/* line 584, components/_index.scss */
.banner_principal .owl-dots .owl-dot.active:after {
  opacity: 1;
}
/* line 589, components/_index.scss */
.banner_principal .owl-dots .owl-dot:last-child {
  border-right: none;
}
/* line 593, components/_index.scss */
.banner_principal .current_item {
  float: left;
  display: block;
  position: absolute;
  bottom: 46px;
  right: 210px;
  z-index: 1;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 13px;
  line-height: 15px;
  color: #151515;
}

/* line 602, components/_index.scss */
.segundo_banner {
  float: left;
  display: block;
  width: 100%;
  position: relative;
}
/* line 606, components/_index.scss */
.segundo_banner .header_banner {
  float: left;
  display: block;
  position: absolute;
  top: 102px;
  left: 12.67441860465116%;
  text-transform: uppercase;
  z-index: 1;
}
/* line 613, components/_index.scss */
.segundo_banner .header_banner .titulo_banner {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 40px;
  line-height: 42px;
  color: #fff;
  padding-right: 219px;
}
/* line 618, components/_index.scss */
.segundo_banner .header_banner .titulo_banner:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 200px;
  height: 1px;
  top: 25px;
  right: 0;
  background-color: #fff;
}
/* line 629, components/_index.scss */
.segundo_banner .header_banner a {
  float: left;
  display: block;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  padding: 17px 20px;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 634, components/_index.scss */
  .segundo_banner .header_banner a:hover {
    color: #805b3b;
  }
}
/* line 641, components/_index.scss */
.segundo_banner .bx-wrapper {
  margin: 0 auto;
}
/* line 644, components/_index.scss */
.segundo_banner li, .segundo_banner li .img_holder {
  height: 876px;
}
/* line 647, components/_index.scss */
.segundo_banner #segundo_banner_pager {
  float: left;
  display: block;
  position: absolute;
  top: 249px;
  left: 12.2093023255814%;
}
/* line 652, components/_index.scss */
.segundo_banner #segundo_banner_pager > a {
  float: left;
  display: block;
  clear: left;
  position: relative;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 19px 8px;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 661, components/_index.scss */
  .segundo_banner #segundo_banner_pager > a:not(.active):hover {
    color: #805b3b;
  }
}
/* line 666, components/_index.scss */
.segundo_banner #segundo_banner_pager > a span {
  position: relative;
  z-index: 1;
}
/* line 670, components/_index.scss */
.segundo_banner #segundo_banner_pager > a div {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 0%;
  height: 7px;
  bottom: 20px;
  left: 0;
  background-color: #805b3b;
}
/* line 680, components/_index.scss */
.segundo_banner #segundo_banner_pager > a:not(.active) div {
  display: none;
}

/* line 686, components/_index.scss */
.small_banners {
  float: left;
  display: block;
  width: 100%;
  position: relative;
}
/* line 690, components/_index.scss */
.small_banners:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 4px;
  top: 224px;
  bottom: 224px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}
/* line 701, components/_index.scss */
.small_banners .banner {
  float: left;
  display: block;
  position: relative;
  width: 50%;
}
/* line 705, components/_index.scss */
.small_banners .banner .img_holder {
  height: 690px;
  -webkit-backface-visibility: hidden;
}
/* line 708, components/_index.scss */
.small_banners .banner .img_holder img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
}
@media screen and (min-width: 1201px) {
  /* line 713, components/_index.scss */
  .small_banners .banner:hover .img_holder img {
    -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1, 1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1, 1.1);
    -o-transform: translate(-50%, -50%) scale(1.1, 1.1);
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
}
/* line 718, components/_index.scss */
.small_banners .banner .info {
  float: left;
  display: block;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 726, components/_index.scss */
.small_banners .banner .info .antetitulo, .small_banners .banner .info .titulo {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
/* line 732, components/_index.scss */
.small_banners .banner .info .antetitulo {
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin: 0 0 13px 0;
}
/* line 736, components/_index.scss */
.small_banners .banner .info .titulo {
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 80px;
  line-height: 82px;
  color: #fff;
}

/* line 742, components/_index.scss */
.banner_video {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 747, components/_index.scss */
.banner_video .img_holder {
  height: 726px;
}
/* line 750, components/_index.scss */
.banner_video .info, .banner_video .play {
  float: left;
  display: block;
  position: absolute;
  /*width:34.88372093023256%;*/
  width: 600px;
  top: 69px;
  left: 211px;
  z-index: 2;
}
/* line 759, components/_index.scss */
.banner_video .info {
  font-family: 'hurme_geometric_sans_3LtOb';
  font-size: 43px;
  line-height: 65px;
  color: #fff;
}
/* line 762, components/_index.scss */
.banner_video .play {
  width: auto;
  top: auto;
  bottom: 58px;
  left: 211px;
  color: #fff;
  font-size: 25px;
  padding: 22px 94px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
@media screen and (min-width: 1201px) {
  /* line 771, components/_index.scss */
  .banner_video .play:hover {
    color: #805b3b;
  }
}
/* line 776, components/_index.scss */
.banner_video .play:before, .banner_video .play:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 45px;
  height: 4px;
  top: 33px;
  left: 0;
  background-color: #fff;
}
/* line 786, components/_index.scss */
.banner_video .play:after {
  left: auto;
  right: 0;
}
/* line 790, components/_index.scss */
.banner_video .play > span {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 72px;
  height: 72px;
  border: 5px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 64px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  clip: rect(0px, 72px, 72px, 36px);
}

/* line 806, components/_index.scss */
.play span {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: right-spin;
  -webkit-animation-name: right-spin;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

@keyframes right-spin {
  from {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
/* line 824, components/_index.scss */
footer {
  float: left;
  display: block;
  width: 100%;
  background-color: #fff;
}
/* line 828, components/_index.scss */
footer .colunas {
  float: left;
  display: block;
  width: 100%;
  padding: 18px 0 35px 0;
}
/* line 832, components/_index.scss */
footer .colunas > li {
  float: left;
  display: block;
  /*width: 23.84615384615385%;*/
  width: 18.76923076923077%;
  margin-right: 1.538461538461538%;
}
/* line 837, components/_index.scss */
footer .colunas > li > .menu_base, footer .colunas > li > ul, footer .colunas > li > ul > li, footer .colunas > li > ul > li > a {
  float: left;
  display: block;
  width: 100%;
}
/* line 841, components/_index.scss */
footer .colunas > li > .menu_base {
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #805b3b;
  letter-spacing: 0.05em;
  margin: 15px 0 0 0;
  padding: 8px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 848, components/_index.scss */
  footer .colunas > li > a.menu_base:hover {
    color: #464646;
  }
}
/* line 853, components/_index.scss */
footer .colunas > li > ul > li > a {
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #a8a8a8;
  letter-spacing: 0.05em;
  padding: 8px 0 7px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 859, components/_index.scss */
  footer .colunas > li > ul > li > a:hover {
    color: #beac9c;
    text-decoration: underline;
  }
}
/* line 866, components/_index.scss */
footer .colunas > li:last-child {
  margin-right: 0;
}
/* line 870, components/_index.scss */
footer .rodape {
  float: left;
  display: block;
  width: 100%;
  border-top: 1px solid #eeeeee;
}
/* line 874, components/_index.scss */
footer .rodape .esquerda {
  float: left;
  display: block;
  max-width: 44.61538461538462%;
}
/* line 877, components/_index.scss */
footer .rodape .esquerda > li, footer .rodape .esquerda > li > a {
  float: left;
  display: block;
}
/* line 880, components/_index.scss */
footer .rodape .esquerda > li > a {
  position: relative;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #a8a8a8;
  letter-spacing: 0.05em;
  padding: 34px 22px 39px 23px;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 886, components/_index.scss */
footer .rodape .esquerda > li > a:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 42px;
  right: -2px;
  border-radius: 50%;
  background-color: #805b3b;
}
@media screen and (min-width: 1201px) {
  /* line 898, components/_index.scss */
  footer .rodape .esquerda > li > a:hover {
    color: #464646;
  }
}
/* line 903, components/_index.scss */
footer .rodape .esquerda > li:first-child > a {
  padding-left: 0;
}
/* line 907, components/_index.scss */
footer .rodape .esquerda > li:last-child > a:after {
  display: none;
}
/* line 912, components/_index.scss */
footer .rodape .direita {
  float: right;
  display: block;
  width: 50.84615384615385%;
}
/* line 915, components/_index.scss */
footer .rodape .direita img {
  float: left;
  display: block;
  margin: 25px 0 23px 0;
}
/* line 920, components/_index.scss */
footer .rodape .loba {
  float: right;
  display: block;
  color: #a8a8a8;
  opacity: 0.3;
  font-size: 10px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  padding: 39px 0 38px 20px;
}
@media screen and (min-width: 1201px) {
  /* line 928, components/_index.scss */
  footer .rodape .loba:hover {
    opacity: 0.7;
  }
}

/* line 935, components/_index.scss */
.top_inner_page {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
  padding: 0 0 0 0;
}
/* line 940, components/_index.scss */
.top_inner_page .top_page {
  float: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 1px 0 1px;
}
/* line 945, components/_index.scss */
.top_inner_page .top_page .caminho {
  float: left;
  display: block;
}
/* line 947, components/_index.scss */
.top_inner_page .top_page .caminho li, .top_inner_page .top_page .caminho .texto_caminho {
  float: left;
  display: block;
}
/* line 950, components/_index.scss */
.top_inner_page .top_page .caminho .texto_caminho {
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #464646;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
  padding: 37px 0 37px 0;
}
/* line 955, components/_index.scss */
.top_inner_page .top_page .caminho .texto_caminho.active {
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #805b3b;
}
/* line 958, components/_index.scss */
.top_inner_page .top_page .caminho .texto_caminho:before {
  content: ".";
  display: inline-block;
  margin: 0 5px;
  color: #464646;
}
@media screen and (min-width: 1201px) {
  /* line 965, components/_index.scss */
  .top_inner_page .top_page .caminho a.texto_caminho:hover {
    color: #805b3b;
  }
}
/* line 970, components/_index.scss */
.top_inner_page .top_page .caminho li:first-child .texto_caminho:before {
  display: none;
}
/* line 974, components/_index.scss */
.top_inner_page .top_page .voltar {
  float: right;
  display: block;
  position: relative;
}
/* line 977, components/_index.scss */
.top_inner_page .top_page .voltar i {
  font-size: 8px;
  margin: 0 9px 0 5px;
  -webkit-transition: margin 0.2s ease;
  -moz-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
}
/* line 981, components/_index.scss */
.top_inner_page .top_page .voltar i:before {
  position: relative;
  top: -2px;
}
/* line 987, components/_index.scss */
.top_inner_page .top_page .voltar.inverso i {
  margin: 0 5px 0 9px;
}
@media screen and (min-width: 1201px) {
  /* line 991, components/_index.scss */
  .top_inner_page .top_page .voltar.inverso:hover i {
    margin: 0 10px 0 4px;
  }
}
/* line 998, components/_index.scss */
.top_inner_page .top_page .voltar span {
  float: left;
  display: block;
  margin: 36px 0 35px 10px;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 1006, components/_index.scss */
  .top_inner_page .top_page .voltar:hover i {
    margin: 0 4px 0 10px;
  }
}
@media screen and (min-width: 1201px) {
  /* line 1011, components/_index.scss */
  .top_inner_page .top_page .voltar:hover span {
    color: #805b3b;
  }
}
/* line 1017, components/_index.scss */
.top_inner_page .top_page .voltar.list span {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 36px 8px 38px 19px;
}
/* line 1022, components/_index.scss */
.top_inner_page .top_page .voltar.list span b {
  float: left;
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 1px;
  left: 1px;
  border: 1px solid #b1b1b1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 1031, components/_index.scss */
.top_inner_page .top_page .voltar.list span b.square_2 {
  top: 1px;
  left: auto;
  right: 1px;
}
/* line 1036, components/_index.scss */
.top_inner_page .top_page .voltar.list span b.square_3 {
  top: auto;
  bottom: 1px;
}
/* line 1040, components/_index.scss */
.top_inner_page .top_page .voltar.list span b.square_4 {
  top: auto;
  bottom: 1px;
  left: auto;
  right: 1px;
}
/* line 1049, components/_index.scss */
.top_inner_page .top_page .voltar:hover.list span b {
  top: 0;
  left: 0;
}
/* line 1052, components/_index.scss */
.top_inner_page .top_page .voltar:hover.list span b.square_2 {
  top: 0;
  left: auto;
  right: 0;
}
/* line 1057, components/_index.scss */
.top_inner_page .top_page .voltar:hover.list span b.square_3 {
  top: auto;
  bottom: 0;
}
/* line 1061, components/_index.scss */
.top_inner_page .top_page .voltar:hover.list span b.square_4 {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
/* line 1071, components/_index.scss */
.top_inner_page.push_to_front {
  position: relative;
  z-index: 3;
  background-color: transparent;
}
/* line 1076, components/_index.scss */
.top_inner_page.push_to_front .voltar span {
  color: #fff;
}

/* line 1083, components/_index.scss */
.titulo_produtos {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
}
/* line 1087, components/_index.scss */
.titulo_produtos .in_titulo_produtos {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  padding: 0 1px 0 1px;
}
/* line 1092, components/_index.scss */
.titulo_produtos .in_titulo_produtos h1 {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 22px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.05em;
  padding: 34px 108px 32px 0;
}
/* line 1098, components/_index.scss */
.titulo_produtos .in_titulo_produtos h1:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 90px;
  height: 1px;
  background-color: #464646;
}
/* line 1109, components/_index.scss */
.titulo_produtos .in_titulo_produtos > a {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 15px;
  line-height: 17px;
  color: #805b3b;
  letter-spacing: 0.05em;
  padding: 42px 19px 31px 19px;
}
/* line 1115, components/_index.scss */
.titulo_produtos .in_titulo_produtos > a:before {
  content: "";
  display: block;
  float: left;
  position: absolute;
  bottom: 2px;
  left: 48px;
  width: 1px;
  height: 0;
  background-color: #805b3b;
  z-index: 5;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
/* line 1128, components/_index.scss */
.titulo_produtos .in_titulo_produtos > a.open:before {
  height: 20px;
}
/* line 1133, components/_index.scss */
.titulo_produtos .filtros {
  display: none;
  float: left;
  position: absolute;
  width: 83.07692307692308%;
  top: 77px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ebeaea;
  z-index: 4;
  padding: 0 20px 19px 20px;
}
/* line 1144, components/_index.scss */
.titulo_produtos .filtros .esquerda, .titulo_produtos .filtros .direita {
  float: left;
  display: block;
  position: relative;
  width: 38.46153846153846%;
  background-color: #fff;
  padding-bottom: 18px;
}
/* line 1150, components/_index.scss */
.titulo_produtos .filtros .esquerda:after, .titulo_produtos .filtros .direita:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #beac9c;
}
/* line 1161, components/_index.scss */
.titulo_produtos .filtros .titulo_lado {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 22px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.05em;
  background-color: #fff;
  z-index: 1;
  padding: 0 18px 0 0;
  margin: 25px 0 11px 0;
}
/* line 1171, components/_index.scss */
.titulo_produtos .filtros ul, .titulo_produtos .filtros ul > li, .titulo_produtos .filtros ul > li > ul, .titulo_produtos .filtros ul > li > ul > li {
  float: left;
  display: block;
  width: 100%;
}
/* line 1175, components/_index.scss */
.titulo_produtos .filtros ul > li {
  width: 47.5%;
  margin-left: 5%;
}
/* line 1178, components/_index.scss */
.titulo_produtos .filtros ul > li:first-child {
  margin-left: 0;
}
/* line 1182, components/_index.scss */
.titulo_produtos .filtros ul > li > ul > li {
  margin-left: 0;
}
/* line 1185, components/_index.scss */
.titulo_produtos .filtros .direita {
  float: right;
  width: 59.61538461538462%;
}
/* line 1188, components/_index.scss */
.titulo_produtos .filtros .direita ul > li {
  width: 31.18279569892473%;
  margin-left: 3.225806451612903%;
}
/* line 1191, components/_index.scss */
.titulo_produtos .filtros .direita ul > li:first-child {
  margin-left: 0;
}
/* line 1195, components/_index.scss */
.titulo_produtos .filtros .direita ul > li > ul > li {
  width: 100%;
  margin-left: 0;
}
/* line 1200, components/_index.scss */
.titulo_produtos .filtros button {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 16px;
  line-height: 18px;
  color: #805b3b;
  letter-spacing: 0.02em;
  padding: 13px 0 16px 0;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}
@media screen and (min-width: 1201px) {
  /* line 1209, components/_index.scss */
  .titulo_produtos .filtros button:hover {
    color: #fff;
    background-color: #a78b6e;
  }
}

/* line 1218, components/_index.scss */
.lista_produtos {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  background-color: #f8f7f7;
  padding: 0 0 35px 0;
}

/* line 1225, components/_index.scss */
.lista_geral {
  float: left;
  display: block;
  position: relative;
  width: 100%;
}
/* line 1229, components/_index.scss */
.lista_geral .lista_geral_item {
  display: block;
  width: 25%;
}
/* line 1232, components/_index.scss */
.lista_geral .lista_geral_item .corner {
  float: left;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -11px;
  left: -11px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f7f7;
  z-index: 3;
}
/* line 1243, components/_index.scss */
.lista_geral .lista_geral_item .corner:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: #beac9c;
}
/* line 1254, components/_index.scss */
.lista_geral .lista_geral_item .corner.tr {
  top: -11px;
  left: auto;
  right: -11px;
}
/* line 1259, components/_index.scss */
.lista_geral .lista_geral_item .corner.bl {
  top: auto;
  bottom: -11px;
  left: -11px;
  right: auto;
}
/* line 1265, components/_index.scss */
.lista_geral .lista_geral_item .corner.br {
  top: auto;
  bottom: -11px;
  left: auto;
  right: -11px;
}
/* line 1273, components/_index.scss */
.lista_geral .lista_geral_item.destaque {
  width: 50%;
  background-color: red;
}
/* line 1276, components/_index.scss */
.lista_geral .lista_geral_item.destaque a .info, .lista_geral .lista_geral_item.destaque a h3 {
  left: 27.890625%;
  right: 27.890625%;
}
/* line 1280, components/_index.scss */
.lista_geral .lista_geral_item.destaque a .img_holder {
  height: 540px;
}
/* line 1282, components/_index.scss */
.lista_geral .lista_geral_item.destaque a .img_holder img {
  width: 540px;
}
/* line 1287, components/_index.scss */
.lista_geral .lista_geral_item a {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  height: 326px;
  background-color: #fff;
  border: 1px solid #f8f7f7;
  cursor: url(../img/pont.png), pointer;
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
/* line 1296, components/_index.scss */
.lista_geral .lista_geral_item a .in_item {
  float: left;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 1305, components/_index.scss */
.lista_geral .lista_geral_item a h3 {
  float: left;
  display: block;
  position: absolute;
  top: 16px;
  left: 20px;
  right: 20px;
  text-align: center;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #464646;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
/* line 1317, components/_index.scss */
.lista_geral .lista_geral_item a .info {
  float: left;
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  -webkit-transition: bottom 0.2s ease;
  -moz-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}
/* line 1324, components/_index.scss */
.lista_geral .lista_geral_item a .info h4, .lista_geral .lista_geral_item a .info .style_h4 {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 12px;
  line-height: 14px;
  color: #a78b6e;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0 0 5px 0;
}
/* line 1332, components/_index.scss */
.lista_geral .lista_geral_item a .info h2 {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 14px;
  color: #c6c6c6;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 17px 0;
}
/* line 1341, components/_index.scss */
.lista_geral .lista_geral_item a .img_holder {
  height: 214px;
  margin: 39px 0 0 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 1345, components/_index.scss */
.lista_geral .lista_geral_item a .img_holder img {
  width: 214px;
  height: auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 1352, components/_index.scss */
.lista_geral .lista_geral_item a:hover .img_holder {
  height: 284px;
  margin: 19px 0 0 0;
}
/* line 1355, components/_index.scss */
.lista_geral .lista_geral_item a:hover .img_holder img {
  width: 284px;
  height: auto;
}
/* line 1360, components/_index.scss */
.lista_geral .lista_geral_item a:hover h3 {
  top: -50%;
}
/* line 1363, components/_index.scss */
.lista_geral .lista_geral_item a:hover .info {
  bottom: -50%;
}
/* line 1368, components/_index.scss */
.lista_geral .lista_geral_item.destaque a {
  height: 652px;
}
/* line 1370, components/_index.scss */
.lista_geral .lista_geral_item.destaque a:hover .img_holder {
  height: 610px;
  margin: 19px 0 0 0;
}
/* line 1373, components/_index.scss */
.lista_geral .lista_geral_item.destaque a:hover .img_holder img {
  width: 610px;
}

/* line 1381, components/_index.scss */
.lista_produtos.lista_marcas a .info .style_h4 {
  margin: 0 0 52px 0;
}
/* line 1384, components/_index.scss */
.lista_produtos.lista_marcas .lista_geral a:hover {
  border-color: #805b3b;
}
/* line 1386, components/_index.scss */
.lista_produtos.lista_marcas .lista_geral a:hover .img_holder {
  height: 214px;
  margin: 39px 0 0 0;
}
/* line 1389, components/_index.scss */
.lista_produtos.lista_marcas .lista_geral a:hover .img_holder img {
  width: 214px;
}

/* line 1395, components/_index.scss */
.lista_noticias {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f8f7f7;
  padding: 0 0 0 0;
}
/* line 1402, components/_index.scss */
.lista_noticias .noticias {
  float: left;
  display: block;
  position: relative;
  width: 100%;
}
/* line 1406, components/_index.scss */
.lista_noticias .noticias .lista {
  float: left;
  display: block;
  width: 49.41860465116279%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 1414, components/_index.scss */
.lista_noticias .noticias .lista > ul {
  float: left;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px;
  background-color: #f8f7f7;
  overflow-y: scroll;
}
/* line 1423, components/_index.scss */
.lista_noticias .noticias .lista > ul > li, .lista_noticias .noticias .lista > ul > li > a {
  float: left;
  display: block;
  width: 100%;
}
/* line 1427, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a {
  border-bottom: 1px solid #eeeeee;
  padding: 37px 20px 39px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 1431, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a h3 {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #c6c6c6;
  letter-spacing: 0.02em;
  margin: 0 0 11px 0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 1439, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a h2 {
  float: left;
  display: block;
  position: relative;
  width: 85%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 25px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 1446, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a h2:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  top: 15px;
  right: -21%;
  background-color: #805b3b;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
}
/* line 1460, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a.open h3 {
  color: #805b3b;
}
/* line 1463, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a.open h2 {
  color: #805b3b;
}
/* line 1465, components/_index.scss */
.lista_noticias .noticias .lista > ul > li > a.open h2:after {
  opacity: 1;
}
/* line 1474, components/_index.scss */
.lista_noticias .img_holder {
  position: absolute;
  height: auto;
  top: -90px;
  bottom: 0;
  right: 0;
  width: 49.41860465116279%;
}
/* line 1481, components/_index.scss */
.lista_noticias .img_holder img {
  opacity: 0;
  -webkit-transition: opacity 0.9s ease;
  -moz-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}
/* line 1484, components/_index.scss */
.lista_noticias .img_holder img.show {
  opacity: 1;
}

/* line 1490, components/_index.scss */
.back_grey {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
}

/* line 1495, components/_index.scss */
.contactos {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
}
/* line 1499, components/_index.scss */
.contactos .titulo {
  float: left;
  display: block;
  width: 100%;
  padding: 34px 0 0 0;
}
/* line 1503, components/_index.scss */
.contactos .titulo h1 {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 22px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.05em;
}
/* line 1508, components/_index.scss */
.contactos .titulo h1:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 90px;
  height: 1px;
  top: 16px;
  right: -109px;
  background-color: #464646;
}
/* line 1520, components/_index.scss */
.contactos .info {
  float: left;
  display: block;
  width: 23.84615384615385%;
}
/* line 1523, components/_index.scss */
.contactos .info .nota {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 18px;
  color: #805b3b;
  letter-spacing: 0.02em;
  padding: 30px 0 66px 0;
  margin-bottom: 50px;
}
/* line 1531, components/_index.scss */
.contactos .info .nota:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: #a78b6e;
}
/* line 1542, components/_index.scss */
.contactos .info .nota > span {
  float: left;
  display: block;
  position: absolute;
  width: 29px;
  height: 10px;
  bottom: 0;
  left: calc(50% - 14px);
  background-color: #f8f7f7;
  z-index: 1;
}
/* line 1551, components/_index.scss */
.contactos .info .nota > span:before, .contactos .info .nota > span:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: calc(50% - 5px);
  border: 1px solid #a78b6e;
  border-radius: 50%;
}
/* line 1562, components/_index.scss */
.contactos .info .nota > span:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 3px;
  left: calc(50% - 2px);
  border: none;
  background-color: #a78b6e;
}
/* line 1575, components/_index.scss */
.contactos .info .pontos_venda {
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
/* line 1579, components/_index.scss */
.contactos .info .pontos_venda > span {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 18px;
  color: #805b3b;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* line 1586, components/_index.scss */
.contactos .info .pontos_venda > ul {
  float: left;
  display: block;
  width: 100%;
}
/* line 1589, components/_index.scss */
.contactos .info .pontos_venda > ul > li {
  float: left;
  display: block;
  width: 46.7741935483871%;
  margin-right: 6.451612903225806%;
  margin-bottom: 27px;
}
/* line 1594, components/_index.scss */
.contactos .info .pontos_venda > ul > li:nth-child(2n) {
  margin-right: 0;
}
/* line 1597, components/_index.scss */
.contactos .info .pontos_venda > ul > li .zona {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 15px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.02em;
}
/* line 1603, components/_index.scss */
.contactos .info .pontos_venda > ul > li > ul, .contactos .info .pontos_venda > ul > li > ul > li {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 18px;
  color: #c6c6c6;
  letter-spacing: 0.05em;
}
/* line 1613, components/_index.scss */
.contactos .formulario {
  float: right;
  display: block;
  width: 67.69230769230769%;
  padding-top: 31px;
  padding-bottom: 8px;
}
/* line 1618, components/_index.scss */
.contactos .formulario .metade {
  float: left;
  display: block;
  width: 50%;
  padding-left: 2.272727272727273%;
}
/* line 1623, components/_index.scss */
.contactos .formulario .to_field {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  padding-top: 12px;
  margin-bottom: 37px;
}
/* line 1629, components/_index.scss */
.contactos .formulario .to_field label {
  float: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.02em;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
/* line 1640, components/_index.scss */
.contactos .formulario .to_field input {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 30px;
  color: #805b3b;
  letter-spacing: 0.02em;
  background-color: transparent;
  border-bottom: 1px solid #dfdfdf;
}
/* line 1651, components/_index.scss */
.contactos .formulario .to_field.filled label {
  top: 0;
}
/* line 1656, components/_index.scss */
.contactos .formulario .to_field.erro input {
  border-color: #fd6666;
}
/* line 1661, components/_index.scss */
.contactos .formulario .baixo_form {
  float: left;
  display: block;
  width: 100%;
  padding-top: 23px;
}
/* line 1666, components/_index.scss */
.contactos .formulario button {
  float: left;
  display: block;
  width: 100%;
  background-color: #dfdfdf;
  text-align: center;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 16px;
  line-height: 18px;
  color: #464646;
  letter-spacing: 0.02em;
  padding: 15px;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 1675, components/_index.scss */
  .contactos .formulario button:hover {
    color: #fff;
    background-color: #a78b6e;
  }
}
/* line 1682, components/_index.scss */
.contactos .formulario .msg {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #805b3b;
  letter-spacing: 0.02em;
  padding: 12px 0;
}

@keyframes animation_slideshow {
  0% {
    top: -50%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  30% {
    top: 10%;
    left: -75%;
    right: auto;
    opacity: 0;
  }
  31% {
    top: 0;
    left: auto;
    right: -75%;
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  50% {
    top: 0;
    right: -25%;
    left: auto;
    opacity: 0;
  }
  51% {
    top: -5%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  98% {
    top: -50%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  100% {
    top: -50%;
    left: -75%;
  }
}
@-moz-keyframes animation_slideshow {
  0% {
    top: -50%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  30% {
    top: 10%;
    left: -75%;
    right: auto;
    opacity: 0;
  }
  31% {
    top: 0;
    left: auto;
    right: -75%;
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  50% {
    top: 0;
    right: -25%;
    left: auto;
    opacity: 0;
  }
  51% {
    top: -5%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  98% {
    top: -50%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  100% {
    top: -50%;
    left: -75%;
  }
}
@-webkit-keyframes animation_slideshow {
  0% {
    top: -50%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  30% {
    top: 10%;
    left: -75%;
    right: auto;
    opacity: 0;
  }
  31% {
    top: 0;
    left: auto;
    right: -75%;
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  50% {
    top: 0;
    right: -25%;
    left: auto;
    opacity: 0;
  }
  51% {
    top: -5%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  98% {
    top: -50%;
    right: -50%;
    left: auto;
    opacity: 0;
  }
  100% {
    top: -50%;
    left: -75%;
  }
}
/* line 1754, components/_index.scss */
.detalhe_produto {
  float: left;
  display: block;
  width: 100%;
  background-color: #f8f7f7;
}
/* line 1758, components/_index.scss */
.detalhe_produto .in_detalhe_produto {
  float: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}
/* line 1763, components/_index.scss */
.detalhe_produto .lado_imagem {
  float: left;
  display: block;
  width: 49.23076923076923%;
  background-color: #fff;
}
/* line 1767, components/_index.scss */
.detalhe_produto .lado_imagem .img_holder {
  height: 564px;
  background-color: #fff;
}
/* line 1770, components/_index.scss */
.detalhe_produto .lado_imagem .img_holder img {
  width: 65.625%;
  height: auto;
  display: none;
}
/* line 1774, components/_index.scss */
.detalhe_produto .lado_imagem .img_holder img.mostrar {
  display: block;
}
/* line 1777, components/_index.scss */
.detalhe_produto .lado_imagem .img_holder img.animation_img {
  width: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: -50%;
  left: -75%;
  opacity: 0;
  animation: animation_slideshow 25s linear infinite;
  -moz-animation: animation_slideshow 25s linear infinite;
  -webkit-animation: animation_slideshow 25s linear infinite;
}
/* line 1790, components/_index.scss */
.detalhe_produto .modos {
  float: left;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
/* line 1799, components/_index.scss */
.detalhe_produto .modos li {
  display: inline-block;
}
/* line 1801, components/_index.scss */
.detalhe_produto .modos li a {
  display: inline-block;
  position: relative;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #464646;
  letter-spacing: 0.05em;
  padding: 17px 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 1808, components/_index.scss */
.detalhe_produto .modos li a:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 1px;
  height: 0;
  top: -8px;
  left: calc(50% - 1px);
  background-color: #805b3b;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
/* line 1820, components/_index.scss */
.detalhe_produto .modos li.active a {
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #464646;
}
/* line 1822, components/_index.scss */
.detalhe_produto .modos li.active a:after {
  height: 20px;
}
/* line 1828, components/_index.scss */
.detalhe_produto .lado_info {
  float: right;
  display: block;
  width: 32.40769230769231%;
  margin-right: 10%;
  padding: 29px 0 44px 0;
}
/* line 1833, components/_index.scss */
.detalhe_produto .lado_info .linha {
  float: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}
/* line 1837, components/_index.scss */
.detalhe_produto .lado_info .linha.pad_quinze {
  padding-top: 15px;
}
/* line 1840, components/_index.scss */
.detalhe_produto .lado_info .linha.no_brd {
  border-bottom: none;
}
/* line 1843, components/_index.scss */
.detalhe_produto .lado_info .linha > img {
  float: left;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 1849, components/_index.scss */
.detalhe_produto .lado_info h1 {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 20px;
  line-height: 22px;
  color: #805b3b;
  letter-spacing: 0.05em;
  margin-top: 24px;
  margin-bottom: 5px;
}
/* line 1857, components/_index.scss */
.detalhe_produto .lado_info h2 {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3LtOb';
  font-size: 12px;
  line-height: 14px;
  color: rgba(70, 70, 70, 0.6);
  letter-spacing: 0.05em;
  margin-bottom: 23px;
}
/* line 1864, components/_index.scss */
.detalhe_produto .lado_info p {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 18px;
  color: #636363;
  letter-spacing: 0.05em;
  margin-bottom: 26px;
}
/* line 1871, components/_index.scss */
.detalhe_produto .lado_info .metade {
  float: left;
  display: block;
  width: 50%;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 18px;
  line-height: 20px;
  color: #a78b6e;
  letter-spacing: 0.05em;
  text-align: center;
}
/* line 1877, components/_index.scss */
.detalhe_produto .lado_info .metade > a {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.05em;
  border-left: 1px solid #eeeeee;
  padding: 27px 12% 31px 12%;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
/* line 1886, components/_index.scss */
.detalhe_produto .lado_info .metade > a:before, .detalhe_produto .lado_info .metade > a:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  top: calc(50% - 1px);
  left: 8.571428571428571%;
  background-color: #b1b1b1;
}
/* line 1896, components/_index.scss */
.detalhe_produto .lado_info .metade > a:after {
  left: auto;
  right: 8.571428571428571%;
}
/* line 1900, components/_index.scss */
.detalhe_produto .lado_info .metade > a:hover {
  color: #a78b6e;
  background-color: #fff;
}
/* line 1903, components/_index.scss */
.detalhe_produto .lado_info .metade > a:hover:before, .detalhe_produto .lado_info .metade > a:hover:after {
  background-color: #a78b6e;
}
/* line 1908, components/_index.scss */
.detalhe_produto .lado_info .metade > span {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0 28px 0;
}
/* line 1913, components/_index.scss */
.detalhe_produto .lado_info .metade > span:before, .detalhe_produto .lado_info .metade > span:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  right: -1px;
  background-color: #eeeeee;
}
/* line 1924, components/_index.scss */
.detalhe_produto .lado_info .metade.pequena {
  width: 47.61904761904762%;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #636363;
  text-align: left;
  padding: 12px 0;
}
/* line 1930, components/_index.scss */
.detalhe_produto .lado_info .metade.right {
  float: right;
}

/* line 1936, components/_index.scss */
.lista_produtos.recomendados {
  padding: 55px 0 35px 0;
}
/* line 1938, components/_index.scss */
.lista_produtos.recomendados .titulo_recomendados {
  float: left;
  display: block;
  width: 100%;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 18px;
  line-height: 20px;
  color: #464646;
  letter-spacing: 0.05em;
  margin: 0 0 34px 0;
}
/* line 1945, components/_index.scss */
.lista_produtos.recomendados .lista_geral .lista_geral_item .corner {
  display: none;
}

/* line 1949, components/_index.scss */
.content_holder {
  float: left;
  display: block;
  position: relative;
  width: 100%;
}

/* line 1954, components/_index.scss */
.pop {
  display: none;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow: hidden;
}
/* line 1964, components/_index.scss */
.pop .mask {
  float: left;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #464646;
  opacity: 0.8;
}
/* line 1974, components/_index.scss */
.pop .wrapper {
  float: left;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 1080px;
  top: 149px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
  padding: 56px 10.18518518518519% 59px 10.18518518518519%;
  border: 1px solid #ebeaea;
}
/* line 1986, components/_index.scss */
.pop .wrapper .titulo {
  float: left;
  display: block;
  width: 100%;
}
/* line 1989, components/_index.scss */
.pop .wrapper .titulo > span {
  float: left;
  display: block;
  position: relative;
  font-family: 'hurme_geometric_sans_3bold';
  font-size: 15px;
  line-height: 17px;
  color: #464646;
  letter-spacing: 0.02em;
}
/* line 1994, components/_index.scss */
.pop .wrapper .titulo > span:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 131px;
  height: 1px;
  top: 8px;
  right: -147px;
  background-color: #beac9c;
}
/* line 2006, components/_index.scss */
.pop .wrapper .formulario {
  float: right;
  display: block;
  width: 100%;
  padding-top: 24px;
}
/* line 2010, components/_index.scss */
.pop .wrapper .formulario .metade {
  float: left;
  display: block;
  width: 50%;
  padding-left: 1.162790697674419%;
}
/* line 2014, components/_index.scss */
.pop .wrapper .formulario .metade.left {
  padding-left: 0;
  padding-right: 1.162790697674419%;
}
/* line 2019, components/_index.scss */
.pop .wrapper .formulario .to_field {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  padding-top: 12px;
  margin-bottom: 37px;
}
/* line 2025, components/_index.scss */
.pop .wrapper .formulario .to_field label {
  float: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-family: 'hurme_geometric_sans_3light';
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  letter-spacing: 0.02em;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
/* line 2036, components/_index.scss */
.pop .wrapper .formulario .to_field input {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 30px;
  color: #805b3b;
  letter-spacing: 0.02em;
  background-color: transparent;
  border-bottom: 1px solid #dfdfdf;
}
/* line 2047, components/_index.scss */
.pop .wrapper .formulario .to_field.filled label {
  top: 0;
}
/* line 2052, components/_index.scss */
.pop .wrapper .formulario .to_field.erro input {
  border-color: #fd6666;
}
/* line 2057, components/_index.scss */
.pop .wrapper .formulario .baixo_form {
  float: left;
  display: block;
  width: 100%;
  padding-top: 23px;
}
/* line 2062, components/_index.scss */
.pop .wrapper .formulario button {
  float: left;
  display: block;
  width: 100%;
  background-color: #dfdfdf;
  text-align: center;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 16px;
  line-height: 18px;
  color: #464646;
  letter-spacing: 0.02em;
  padding: 15px;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
@media screen and (min-width: 1201px) {
  /* line 2071, components/_index.scss */
  .pop .wrapper .formulario button:hover {
    color: #fff;
    background-color: #a78b6e;
  }
}
/* line 2078, components/_index.scss */
.pop .wrapper .formulario .msg {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'hurme_geometric_sans_3SBd';
  font-size: 13px;
  line-height: 15px;
  color: #805b3b;
  letter-spacing: 0.02em;
  padding: 12px 0;
}
/* line 2089, components/_index.scss */
.pop .close_pop {
  float: left;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 48px;
  right: 10.18518518518519%;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
/* line 2100, components/_index.scss */
.pop .close_pop:before, .pop .close_pop:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 2px;
  height: 12px;
  top: calc(50% - 6px);
  left: calc(50% - 1px);
  background-color: #b1b1b1;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
/* line 2111, components/_index.scss */
.pop .close_pop:after {
  content: "";
  float: left;
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  top: calc(50% - 1px);
  left: calc(50% - 6px);
  background-color: #b1b1b1;
}
/* line 2121, components/_index.scss */
.pop .close_pop:hover {
  border-color: #464646;
}
/* line 2123, components/_index.scss */
.pop .close_pop:hover:before, .pop .close_pop:hover:after {
  background-color: #464646;
}
