header{
    @include float(left);
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#fff;
    text-align:center;
    line-height:1px;
    padding:0 90px;
    z-index:99;
    .inside_header{
        display:inline-block;
        line-height:normal;
        position:relative;
    }
    .logo{
        @include float(left);
        padding:33px 10px 29px 10px;
        img{
            @include float(left);
            @include media($big_screen) {
                height:auto;
                width:200px;
            }
        }
    }
    .main_menu{
        @include float(left);
        position:relative;
        margin:0 97px 0 97px;
        @include media($big_screen) {
            margin:0;
        }
        &:before,&:after{
            content:"";
            @include float(left);
            position:absolute;
            width:20px;
            height:1px;
            background-color:black;
            top:45px;
            left:-53px;
            @include media($big_screen) {
                display:none;
            }
        }
        &:after{
            left:auto;
            right:-53px;
        }
        >li{
            @include float(left);
            position:relative;
            >a{
                @include float(left);
                position:relative;
                @include hurme_bold(17px, 19px, #464646);
                letter-spacing: 0.02em;
                padding:34px 19px 37px 19px;
                @include transition(color 0.2s ease);
                &:before{
                    content:"";
        			@include float(left);
        			position:absolute;
        			width:3px;
        			height:3px;
                    background-color:#805b3b;
                    border-radius:50%;
        			top:44px;
        			left:-1px;
                }
            }
            &:first-child a{
                margin-left:0;
            }
            &:first-child a:before{
                display:none;
            }
            .submenu{
                display:none;
                float:left;
                position:absolute;
                top:100%;
                left:50%;
    			@include transform(translateX(-50%));
                min-width:490px;
                background-color:#fff;
                padding:13px 0 12px 10px;
                &:before{
                    content:"";
        			@include float(left);
        			position:absolute;
        			width:1px;
        			height:20px;
        			top:-10px;
        			left:50%;
                    background-color: #805b3b;
                    z-index:2;
                }
                >ul{
                    @include float(left);
                    width:33.3%;
                }
                >ul>li{
                    @include float(left);
                    width:137px;
                    margin:0 10px;
                }
                >ul>li>a{
                    @include float(left);
                    width:100%;
                    border-top:1px solid #f8f8f8;
                    text-align:left;
                    @include hurme_light(13px, 15px, #b1b1b1);
                    letter-spacing: 0.05em;
                    padding:5px 0;
                    @include transition(color 0.2s ease);
                    &:hover{
                        @include media($hover) {
                			color:#805b3b;
                		}
                    }
                }
                li:first-child a{
                    border-top:none;
                }
            }
            &:hover .submenu{
                display:block;
            }
            .submenu.pontos_venda{
                min-width:750px;
                text-align:left;
                padding:0 0 0 0;
                .pontos{
                    @include float(left);
                    width:160px;
                    margin:0 20px 0 40px;
                    padding:2px 0 0 0;
                    .titulo{
                        @include float(left);
                        width:100%;
                        @include hurme_bold(15px, 17px, #464646);
                        letter-spacing: 0.02em;
                        margin:15px 0 3px 0;
                    }
                    ul,ul>li,ul>li>a{
                        @include float(left);
                        width:100%;
                    }
                    ul{
                        border-bottom:1px solid #c6c6c6;
                        padding:0 0 13px 0;
                        margin:0 0 0 0;
                        &.no_brd{
                            border-bottom:none;
                        }
                    }
                    ul>li>a{
                        position:relative;
                        @include hurme_light(13px, 15px, #c6c6c6);
                        letter-spacing: 0.05em;
                        padding:0 0 0 15px;
                        margin:0 0 3px 0;
                        @include transition(color 0.2s ease);
                        &:before{
                            content:"";
                			@include float(left);
                			position:absolute;
                			width:4px;
                			height:4px;
                            background-color:#c6c6c6;
                            border-radius:50%;
                			top:6px;
                			left:0;
                            @include transition(background-color 0.2s ease);
                        }
                    }
                    ul>li>a:hover{
                        @include media($hover) {
                			color:#805b3b;
                		}
                        &:before{
                            background-color:#805b3b;
                        }
                    }
                }
                .img_holder{
                    position:absolute;
                    width:510px;
                    height:auto;
                    top:0;
                    bottom:0;
                    right:0;
                    margin:0 20px 20px 0;
                    @include transition(background 0.2s ease);
                    .info{
                        @include float(left);
                        position:absolute;
                        width:245px;
                        top:15px;
                        left:17px;
                        @include hurme_bold(45px, 40px, #fff);
                        letter-spacing: 0.02em;
                        text-transform:uppercase;
                        z-index:1;
                    }
                }
            }
        }
    }
    .search_button{
        @include float(left);
        color:#464646;
        font-size:12px;
        padding:39px 10px 33px 10px;
        margin:0 0 0 1px;
        @include transition(color 0.2s ease);
        &:hover{
            @include media($hover) {
    			color:#805b3b;
    		}
        }
    }
    .search_box{
        display:none;
        float:left;
        position:absolute;
        top:0;
        bottom:0;
        left:349px;
        right:97px;
    }
    .search_box input{
        @include float(left);
        width:100%;
        padding:0 20px 0 20px;
        @include hurme_light_obl(17px, 90px, #464646);
        letter-spacing: 0.02em;
        box-sizing:border-box;
    }
}
.fixos{
    @include float(left);
    position:fixed;
    width:90px;
    top:0;
    right:0;
    z-index:2;
    >li{
        @include float(left);
        width: 100%;
        position:relative;
        text-align:center;
        margin:42px 0 0 0;
        @include media($big_screen) {
            margin:30px 0 0 0;
        }
        >a{
            display:inline-block;
            position:relative;
            padding:10px;
            @include media($big_screen) {
                font-size:14px;
            }
        }
        &:first-child{
			margin-top:0;
		}
        &:after{
			content:"";
			@include float(left);
			position:absolute;
			width:6px;
			height:6px;
			border:1px solid #896749;
            border-radius:50%;
			top:-26px;
			left:50%;
			@include transform(translateX(-50%));
            @include media($big_screen) {
                top:-16px;
            }
		}
        &:first-child:after{
			display:none;
		}
    }
}
.fixos.idiomas{
    top:75px;
    >li>a{
        @include hurme_light_obl(13px, 15px, #c6c6c6);
        letter-spacing: 0.05em;
        text-transform:uppercase;
        @include transition(color 0.2s ease);
        &:after{
            content:"";
			@include float(left);
			position:absolute;
			height:1px;
			top:17px;
			left:8px;
			right:8px;
            background-color:#c6c6c6;
            @include transition(left 0.2s ease,right 0.2s ease);
        }
    }
    >li>a:hover{
        @include media($hover) {
			@include hurme_light_obl(13px, 15px, #464646);
		}
        &:after{
            @include media($hover) {
                left:50%;
    			right:50%;
    		}
        }
    }
    >li.active>a{
        @include hurme_semibold(13px, 15px, #805b3b);
        letter-spacing: 0.05em;
        &:after{
            display:none;
        }
    }
}
.fixos.social_contactos{
    top:auto;
    bottom:0;
    color:#c6c6c6;
    padding:0 0 33px 0;
    .phone{
        font-size:22px;
    }
    >li{
        position:relative;
    }
    >li>a{
        @include transition(color 0.2s ease);
    }
    >li>a:hover{
        @include media($hover) {
            color:#856345;
        }
    }
    >li.open{
        color:#856345;
    }
    form{
        @include float(left);
        position:absolute;
        top:50%;
        @include transform(translateY(-50%));
        right:-635px;
        @include transition(right 0.2s ease);
        input{
            @include float(left);
            width: 630px;
            height:76px;
            @include hurme_light_obl(15px, 17px, #b1b1b1);
            letter-spacing: 0.05em;
            padding:0 181px 0 20px;
        }
        button{
            position:absolute;
            top:50%;
            @include transform(translateY(-50%));
            right:20px;
            @include hurme_bold(13px, 15px, #fff);
            letter-spacing: 0.15em;
            background-color:#805b3b;
            padding:10px 20px 12px 20px;
            text-transform:uppercase;
        }
    }
    li.open form{
        right:90px;
    }
}
.banner_principal{
    @include float(left);
    width: 100%;
    position:relative;
    .item {
        position:relative;
        .img_holder{
            @include float(left);
            width:100%;
            height:880px;
            img{
                width:auto;
            }
        }
    }
    .item .info{
        @include float(left);
        position:absolute;
        width:62.7906976744186%;
        top:149px;
        left:18.6046511627907%;
        img,h3,h2,a{
            @include float(left);
            clear:left;
        }
        img{
            width:auto;
            margin:0 0 62px 0;
        }
        h3{
            @include hurme_bold(30px, 32px, #805b3b);
            letter-spacing: 0.02em;
            text-transform:uppercase;
            position:relative;
            margin:0 0 6px 0;
            padding:34px 0 0 0;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:40px;
                height:1px;
                top:0;
                left:0;
                background-color: #805b3b;
            }
        }
        h2{
            position:relative;
            @include hurme_bold(65px, 55px, #464646);
            letter-spacing: 0.05em;
            text-transform:uppercase;
            padding:0 0 40px 0;
            margin:0 0 73px 0;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:40px;
                height:1px;
                bottom:0;
                left:0;
                background-color: #805b3b;
            }
        }
        a{
            position:relative;
            @include hurme_light(18px, 20px, #464646);
            div{
                opacity:0;
            }
            span{
                @include float(left);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                @include transition(letter-spacing 0.2s ease);
            }
            &:hover span{
                @include media($hover) {
                    letter-spacing: 0.1em;
                }
            }

            svg {
                position:absolute;
                top:-35px;
                left:-7px;
                width: 90px;
                height: 90px;
                transform: rotate(33deg);
            }
            svg.bottom {
                transform: rotate(-147deg);
            }
            .circle {
                stroke-dasharray: 377;
                stroke-dashoffset: 377;
                @include transition(all 0.2s linear);
            }
            .svg_1 .circle {
                stroke-dashoffset: 374;
            }
            &:hover .svg_1 .circle {
                stroke-dashoffset: 291;
            }
            &:hover{
                color:#805b3b;
            }

        }
    }
    .owl-prev,.owl-next{
        @include float(left);
        position:absolute;
        top:50%;
        left:12.2093023255814%;
        @include transform(translateY(-50%));
        /*background-color:red;*/
        padding:18px 13px;
        color:#1e1f1d;
        margin-top:29px;
        /*&:after{
            content:"";
            @include float(left);
            position:absolute;
            width:2px;
            height:2px;
            top:25px;
            right:0;
            background-color:#4f4f4d;
        }*/

        svg {
            position:absolute;
            top:-2px;
            left:-4px;
            width: 65px;
            height: 65px;
            transform: rotate(-4deg);
        }
        .circle {
            stroke-dasharray: 377;
            stroke-dashoffset: 377;
            @include transition(all 0.5s linear);
        }
        .svg_1 .circle {
            stroke-dashoffset: 374;
        }
        &:hover .svg_1 .circle {
            stroke:#805b3b;
            stroke-dashoffset: 0;
        }
        &:hover{
            color:#805b3b;
        }

    }
    .owl-next{
        left:auto;
        right:12.2093023255814%;
        &:after{
            right:auto;
            left:0;
        }
        svg{
            top:-11px;
            left:auto;
            right:-4px;
            transform: rotate(-184deg);
        }
    }
    .owl-dots{
        @include float(left);
        position:absolute;
        bottom:47px;
        right:247px;
        .owl-dot{
            @include float(left);
            position:relative;
            width:10px;
            height:8px;
            border-right:1px solid #464646;
            @include transition(width 0.2s ease);
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:8px;
                height:8px;
                top:0;
                left:50%;
                @include transform(translateX(-50%));
                border:2px solid #805b3b;
                border-radius:50%;
                opacity:0;
                @include transition(opacity 0.2s ease);
            }
            &.active{
                width:19px;
                &:after{
                    opacity:1;
                }
            }
        }
        .owl-dot:last-child{
            border-right:none;
        }
    }
    .current_item{
        @include float(left);
        position:absolute;
        bottom:46px;
        right:210px;
        z-index:1;
        @include hurme_bold(13px, 15px, #151515);
    }
}
.segundo_banner{
    @include float(left);
    width: 100%;
    position:relative;
    .header_banner{
        @include float(left);
        position:absolute;
        top:102px;
        left:12.67441860465116%;
        text-transform:uppercase;
        z-index:1;
        .titulo_banner{
            @include float(left);
            position:relative;
            @include hurme_bold(40px, 42px, #fff);
            padding-right:219px;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:200px;
                height:1px;
                top:25px;
                right:0;
                background-color:#fff;
            }
        }
        a{
            @include float(left);
            @include hurme_bold(13px, 15px, #fff);
            padding:17px 20px;
            @include transition(color 0.2s ease);
            &:hover{
                @include media($hover) {
                    color:#805b3b;
                }
            }
        }
    }
    .bx-wrapper {
        margin: 0 auto;
    }
    li,li .img_holder{
        height:876px;
    }
    #segundo_banner_pager{
        @include float(left);
        position:absolute;
        top:249px;
        left:12.2093023255814%;
        >a{
            @include float(left);
            clear:left;
            position: relative;
            @include hurme_bold(20px, 22px, #fff);
            letter-spacing: 0.15em;
            text-transform:uppercase;
            padding:19px 8px;
            @include transition(color 0.2s ease);
            &:not(.active):hover{
                @include media($hover) {
                    color:#805b3b;
                }
            }
            span{
                position: relative;
                z-index:1;
            }
            div{
                content:"";
                @include float(left);
                position:absolute;
                width:0%;
                height:7px;
                bottom:20px;
                left:0;
                background-color:#805b3b;
            }
            &:not(.active) div{
                display:none
            }
        }
    }
}
.small_banners{
    @include float(left);
    width: 100%;
    position:relative;
    &:after{
        content:"";
        @include float(left);
        position:absolute;
        width:4px;
        top:224px;
        bottom:224px;
        left:50%;
        @include transform(translateX(-50%));
        background-color:#fff;
    }
    .banner{
        @include float(left);
        position:relative;
        width: 50%;
        .img_holder{
            height:690px;
            -webkit-backface-visibility: hidden;
            img{
                -webkit-backface-visibility: hidden;
                @include transition(transform 0.5s ease);
            }
        }
        &:hover .img_holder img{
            @include media($hover) {
                @include transform(translate(-50%,-50%) scale(1.1, 1.1));
            }
        }
        .info{
            @include float(left);
            position:absolute;
            width:80%;
            top:50%;
            left:50%;
            @include transform(translate(-50%,-50%));
            z-index:2;
            .antetitulo,.titulo{
                @include float(left);
                width:100%;
                text-align:center;
                text-transform:uppercase;
            }
            .antetitulo{
                @include hurme_bold(16px, 18px, #fff);
                margin:0 0 13px 0;
            }
            .titulo{
                @include hurme_bold(80px, 82px, #fff);
            }
        }
    }
}
.banner_video{
    @include float(left);
    position:relative;
    width: 100%;
    height: auto;
    .img_holder{
        height:726px;
    }
    .info,.play{
        @include float(left);
        position:absolute;
        /*width:34.88372093023256%;*/
        width:600px;
        top:69px;
        left:211px;
        z-index:2;
    }
    .info{
        @include hurme_light_obl(43px, 65px, #fff);
    }
    .play{
        width:auto;
        top:auto;
        bottom:58px;
        left:211px;
        color:#fff;
        font-size:25px;
        padding:22px 94px;
        @include transition(color 0.5s ease);
        &:hover{
            @include media($hover) {
                color:#805b3b;
            }
        }
        &:before,&:after{
            content:"";
            @include float(left);
            position:absolute;
            width:45px;
            height:4px;
            top:33px;
            left:0;
            background-color:#fff;
        }
        &:after{
            left:auto;
            right:0;
        }
        >span{
            content:"";
            @include float(left);
            position:absolute;
            width:72px;
            height:72px;
            border:5px solid #fff;
            border-radius: 50%;
            top:0;
            left:64px;
            @include transform(rotate(-90deg));
            clip: rect(0px, 72px, 72px, 36px);

        }
    }
}
.play span{
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: right-spin;
  -webkit-animation-name: right-spin;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
@keyframes right-spin {
  from {
    @include transform(rotate(-90deg));
  }
  to {
    @include transform(rotate(270deg));
  }
}
footer{
    @include float(left);
    width: 100%;
    background-color:#fff;
    .colunas{
        @include float(left);
        width: 100%;
        padding:18px 0 35px 0;
        >li{
            @include float(left);
            /*width: 23.84615384615385%;*/
            width: 18.76923076923077%;
            margin-right:1.538461538461538%;
            >.menu_base,>ul,>ul>li,>ul>li>a{
                @include float(left);
                width: 100%;
            }
            >.menu_base{
                @include hurme_semibold(13px, 15px, #805b3b);
                letter-spacing: 0.05em;
                margin:15px 0 0 0;
                padding:8px 0;
                @include transition(color 0.2s ease);
            }
            >a.menu_base:hover{
                @include media($hover) {
        			color:#464646;
        		}
            }
            >ul>li>a{
                @include hurme_light(13px, 15px, #a8a8a8);
                letter-spacing: 0.05em;
                padding:8px 0 7px 0;
                @include transition(color 0.2s ease);
            }
            >ul>li>a:hover{
                @include media($hover) {
        			color:#beac9c;
                    text-decoration:underline;
        		}
            }
        }
        >li:last-child{
            margin-right:0;
        }
    }
    .rodape{
        @include float(left);
        width: 100%;
        border-top:1px solid #eeeeee;
        .esquerda{
            @include float(left);
            max-width:44.61538461538462%;
            >li,>li>a{
                @include float(left);
            }
            >li>a{
                position:relative;
                @include hurme_semibold(13px, 15px, #a8a8a8);
                letter-spacing: 0.05em;
                padding:34px 22px 39px 23px;
                @include transition(color 0.2s ease);
                &:after{
                    content:"";
        			@include float(left);
        			position:absolute;
        			width:3px;
        			height:3px;
        			top:42px;
        			right:-2px;
                    border-radius:50%;
                    background-color:#805b3b;
                }
            }
            >li>a:hover{
                @include media($hover) {
                    color:#464646;
                }
            }
            >li:first-child>a{
                padding-left:0;
            }
            >li:last-child>a{
                &:after{
                    display:none;
                }
            }
        }
        .direita{
            @include float(right);
            width:50.84615384615385%;
            img{
                @include float(left);
                margin:25px 0 23px 0;
            }
        }
        .loba{
            @include float(right);
            color:#a8a8a8;
            opacity:0.3;
            font-size:10px;
            @include transition(opacity 0.2s ease);
            padding:39px 0 38px 20px;
        }
        .loba:hover{
            @include media($hover) {
                opacity:0.7;
            }
        }
    }
}
.top_inner_page{
    @include float(left);
    width: 100%;
    background-color: #f8f7f7;
    padding:0 0 0 0;
    .top_page{
        @include float(left);
        width: 100%;
        border-bottom:1px solid #dfdfdf;
        padding:0 1px 0 1px;
        .caminho{
            @include float(left);
            li,.texto_caminho{
                @include float(left);
            }
            .texto_caminho{
                @include hurme_light(13px, 15px, #464646);
                letter-spacing: 0.05em;
                @include transition(color 0.2s ease);
                padding:37px 0 37px 0;
                &.active{
                    @include hurme_semibold(13px, 15px, #805b3b);
                }
                &:before{
                    content:".";
                    display:inline-block;
                    margin:0 5px;
                    color:#464646;
                }
            }
            a.texto_caminho:hover{
                @include media($hover) {
                    color:#805b3b;
                }
            }
            li:first-child .texto_caminho:before{
                display:none;
            }
        }
        .voltar{
            @include float(right);
            position:relative;
            i{
                font-size:8px;
                margin:0 9px 0 5px;
                @include transition(margin 0.2s ease);
                &:before{
                    position:relative;
                    top:-2px;
                }
            }
            &.inverso{
                i{
                    margin:0 5px 0 9px;
                }
                &:hover{
                    i{
                        @include media($hover) {
                            margin:0 10px 0 4px;
                        }
                    }
                }
            }
            span{
                @include float(left);
                margin:36px 0 35px 10px;
                @include hurme_semibold(13px, 15px, #b1b1b1);
                letter-spacing: 0.05em;
                @include transition(color 0.2s ease);
            }
            &:hover{
                i{
                    @include media($hover) {
                        margin:0 4px 0 10px;
                    }
                }
                span{
                    @include media($hover) {
                        color:#805b3b;
                    }
                }
            }
            &.list span{
                position:relative;
                width:15px;
                height:15px;
                margin:36px 8px 38px 19px;
                b{
                    @include float(left);
                    position:absolute;
                    width:6px;
                    height:6px;
                    top:1px;
                    left:1px;
                    border:1px solid #b1b1b1;
                    @include transition(all 0.2s ease);
                    &.square_2{
                        top:1px;
                        left:auto;
                        right:1px;
                    }
                    &.square_3{
                        top:auto;
                        bottom:1px;
                    }
                    &.square_4{
                        top:auto;
                        bottom:1px;
                        left:auto;
                        right:1px;
                    }
                }
            }
            &:hover{
                &.list span b{
                    top:0;
                    left:0;
                    &.square_2{
                        top:0;
                        left:auto;
                        right:0;
                    }
                    &.square_3{
                        top:auto;
                        bottom:0;
                    }
                    &.square_4{
                        top:auto;
                        bottom:0;
                        left:auto;
                        right:0;
                    }
                }
            }
        }
    }
    &.push_to_front{
        position:relative;
        z-index:3;
        background-color: transparent;
        .voltar{
            span{
                color:#fff;
            }
        }

    }
}
.titulo_produtos{
    @include float(left);
    width: 100%;
    background-color: #f8f7f7;
    .in_titulo_produtos{
        @include float(left);
        position:relative;
        width: 100%;
        padding:0 1px 0 1px;
        h1{
            @include float(left);
            position:relative;
            @include hurme_semibold(22px, 24px, #464646);
            letter-spacing: 0.05em;
            padding:34px 108px 32px 0;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                top:50px;
                right:0;
                width:90px;
                height:1px;
                background-color:#464646;
            }
        }
        >a{
            @include float(left);
            position:relative;
            @include hurme_semibold(15px, 17px, #805b3b);
            letter-spacing: 0.05em;
            padding:42px 19px 31px 19px;
            &:before{
                content:"";
                display:block;
                float:left;
                position:absolute;
                bottom:2px;
                left:48px;
                width:1px;
                height:0;
                background-color:#805b3b;
                z-index:5;
                @include transition(height 0.2s ease);
            }
            &.open:before{
                height:20px;
            }
        }
    }
    .filtros{
        display:none;
        float:left;
        position:absolute;
        width: 83.07692307692308%;
        top:77px;
        left:0;
        background-color:#fff;
        border:1px solid #ebeaea;
        z-index:4;
        padding:0 20px 19px 20px;
        .esquerda,.direita{
            @include float(left);
            position:relative;
            width: 38.46153846153846%;
            background-color: #fff;
            padding-bottom:18px;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                top:37px;
                left:0;
                right:0;
                height:1px;
                background-color:#beac9c;
            }
        }
        .titulo_lado{
            @include float(left);
            position:relative;
            @include hurme_semibold(22px, 24px, #464646);
            letter-spacing: 0.05em;
            background-color:#fff;
            z-index:1;
            padding:0 18px 0 0;
            margin:25px 0 11px 0
        }
        ul,ul>li,ul>li>ul,ul>li>ul>li{
            @include float(left);
            width: 100%;
        }
        ul>li{
            width: 47.5%;
            margin-left:5%;
            &:first-child{
                margin-left:0;
            }
        }
        ul>li>ul>li{
            margin-left:0;
        }
        .direita{
            float:right;
            width: 59.61538461538462%;
            ul>li{
                width: 31.18279569892473%;
                margin-left:3.225806451612903%;
                &:first-child{
                    margin-left:0;
                }
            }
            ul>li>ul>li{
                width:100%;
                margin-left:0;
            }
        }
        button{
            @include float(left);
            width: 100%;
            background-color:#f8f7f7;
            @include hurme_semibold(16px, 18px, #805b3b);
            letter-spacing: 0.02em;
            padding:13px 0 16px 0;
            @include transition(color 0.2s ease,background-color 0.2s ease);
            cursor:pointer;
            &:hover{
                @include media($hover) {
                    color:#fff;
                    background-color:#a78b6e;
                }
            }
        }
    }
}
.lista_produtos{
    @include float(left);
    width: 100%;
    height: auto;
    background-color: #f8f7f7;
    padding:0 0 35px 0;
}
.lista_geral{
    @include float(left);
    position:relative;
    width: 100%;
    .lista_geral_item{
        display:block;
        width: 25%;
        .corner{
            @include float(left);
            position:absolute;
            width:20px;
            height:20px;
            top:-11px;
            left:-11px;
            border-radius:50%;
            background-color:#fff;
            border:2px solid #f8f7f7;
            z-index:3;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:6px;
                height:6px;
                top:5px;
                right:5px;
                border-radius:50%;
                background-color:#beac9c;
            }
            &.tr{
                top:-11px;
                left:auto;
                right:-11px;
            }
            &.bl{
                top:auto;
                bottom:-11px;
                left:-11px;
                right:auto;
            }
            &.br{
                top:auto;
                bottom:-11px;
                left:auto;
                right:-11px;
            }
        }

        &.destaque{
            width: 50%;
            background-color: red;
            a .info,a h3{
                left:27.890625%;
                right:27.890625%;
            }
            a .img_holder{
                height:540px;
                img{
                    width:540px;
                }
            }
        }
        a{
            @include float(left);
            position:relative;
            width: 100%;
            height:326px;
            background-color: #fff;
            border:1px solid #f8f7f7;
            cursor: url(../img/pont.png), pointer;
            @include transition(border 0.2s ease);
            .in_item{
                @include float(left);
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                overflow:hidden;
            }
            h3{
                @include float(left);
                position:absolute;
                top:16px;
                left:20px;
                right:20px;
                text-align:center;
                @include hurme_semibold(13px, 15px, #464646);
                letter-spacing: 0.05em;
                text-transform:uppercase;
                @include transition(top 0.2s ease);
            }
            .info{
                @include float(left);
                position:absolute;
                bottom:0;
                left:20px;
                right:20px;
                @include transition(bottom 0.2s ease);
                h4,.style_h4{
                    @include float(left);
                    width:100%;
                    @include hurme_semibold(12px, 14px, #a78b6e);
                    letter-spacing: 0.05em;
                    text-align:center;
                    margin:0 0 5px 0;
                }
                h2{
                    @include float(left);
                    width:100%;
                    @include hurme_semibold(13px, 14px, #c6c6c6);
                    letter-spacing: 0.02em;
                    text-align:center;
                    margin:0 0 17px 0;
                }
            }
            .img_holder{
                height:214px;
                margin:39px 0 0 0;
                @include transition(all 0.2s ease);
                img{
                    width:214px;
                    height:auto;
                    @include transition(all 0.2s ease);
                }
            }
            &:hover{
                .img_holder{
                    height:284px;
                    margin:19px 0 0 0;
                    img{
                        width:284px;
                        height:auto;
                    }
                }
                h3{
                    top:-50%;
                }
                .info{
                    bottom:-50%;
                }
            }
        }
        &.destaque a{
            height:652px;
            &:hover .img_holder{
                height:610px;
                margin:19px 0 0 0;
                img{
                    width:610px;
                }
            }
        }
    }
}
.lista_produtos.lista_marcas{
    a .info .style_h4{
        margin:0 0 52px 0;
    }
    .lista_geral a:hover {
        border-color:#805b3b;
        .img_holder{
            height:214px;
            margin:39px 0 0 0;
            img{
                width:214px;
            }
        }
    }
}
.lista_noticias{
    @include float(left);
    position:relative;
    width: 100%;
    height: auto;
    background-color: #f8f7f7;
    padding:0 0 0 0;
    .noticias{
        @include float(left);
        position:relative;
        width: 100%;
        .lista{
            @include float(left);
            width:49.41860465116279%;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            overflow:hidden;
            >ul{
                @include float(left);
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:-20px;
                background-color:#f8f7f7;
                overflow-y:scroll;
                >li,>li>a{
                    @include float(left);
                    width:100%;
                }
                >li>a{
                    border-bottom:1px solid #eeeeee;
                    padding:37px 20px 39px 0;
                    @include transition(color 0.2s ease);
                    h3{
                        @include float(left);
                        width:100%;
                        @include hurme_light(13px, 15px, #c6c6c6);
                        letter-spacing: 0.02em;
                        margin:0 0 11px 0;
                        @include transition(color 0.2s ease);
                    }
                    h2{
                        @include float(left);
                        position:relative;
                        width:85%;
                        @include hurme_semibold(25px, 30px, #464646);
                        letter-spacing: 0.02em;
                        @include transition(color 0.2s ease);
                        &:after{
                            content:"";
                            @include float(left);
                            position:absolute;
                            width:20px;
                            height:4px;
                            top:15px;
                            right:-21%;
                            background-color:#805b3b;
                            @include transition(opacity 0.2s ease);
                            opacity:0;
                        }
                    }
                    &.open{
                        h3{
                            color:#805b3b;
                        }
                        h2{
                            color:#805b3b;
                            &:after{
                                opacity:1;
                            }
                        }
                    }
                }
            }
        }
    }
    .img_holder{
        position:absolute;
        height:auto;
        top:-90px;
        bottom:0;
        right:0;
        width:49.41860465116279%;
        img{
            opacity:0;
            @include transition(opacity 0.9s ease);
            &.show{
                opacity:1;
            }
        }
    }
}
.back_grey{
    @include float(left);
    width: 100%;
    background-color: #f8f7f7;
}
.contactos{
    @include float(left);
    width: 100%;
    background-color: #f8f7f7;
    .titulo{
        @include float(left);
        width: 100%;
        padding:34px 0 0 0;
        h1{
            @include float(left);
            position:relative;
            @include hurme_semibold(22px, 24px, #464646);
            letter-spacing: 0.05em;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:90px;
                height:1px;
                top:16px;
                right:-109px;
                background-color:#464646;
            }
        }
    }
    .info{
        @include float(left);
        width: 23.84615384615385%;
        .nota{
            @include float(left);
            position:relative;
            width: 100%;
            @include hurme_semibold(13px, 18px, #805b3b);
            letter-spacing: 0.02em;
            padding:30px 0 66px 0;
            margin-bottom:50px;
            &:after{
                content:"";
                @include float(left);
                position:absolute;
                width:100%;
                height:1px;
                bottom:5px;
                left:0;
                right:0;
                background-color:#a78b6e;
            }
            >span{
                @include float(left);
                position:absolute;
                width:29px;
                height:10px;
                bottom:0;
                left:calc(50% - 14px);
                background-color:#f8f7f7;
                z-index:1;
                &:before,&:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:10px;
                    height:10px;
                    top:0;
                    left:calc(50% - 5px);
                    border:1px solid #a78b6e;
                    border-radius:50%;
                }
                &:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:4px;
                    height:4px;
                    top:3px;
                    left:calc(50% - 2px);
                    border:none;
                    background-color:#a78b6e;
                }
            }
        }
        .pontos_venda{
            @include float(left);
            width: 100%;
            margin-bottom:8px;
            >span{
                @include float(left);
                width: 100%;
                @include hurme_semibold(13px, 18px, #805b3b);
                letter-spacing: 0.02em;
                margin-bottom:8px;
            }
            >ul{
                @include float(left);
                width: 100%;
                >li{
                    @include float(left);
                    width: 46.7741935483871%;
                    margin-right:6.451612903225806%;
                    margin-bottom:27px;
                    &:nth-child(2n){
                        margin-right:0;
                    }
                    .zona{
                        @include float(left);
                        width: 100%;
                        @include hurme_bold(15px, 24px, #464646);
                        letter-spacing: 0.02em;
                    }
                    >ul,>ul>li{
                        @include float(left);
                        width: 100%;
                        @include hurme_light(13px, 18px, #c6c6c6);
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }
    .formulario{
        @include float(right);
        width:67.69230769230769%;
        padding-top:31px;
        padding-bottom:8px;
        .metade{
            @include float(left);
            width:50%;
            padding-left:2.272727272727273%;
        }
        .to_field{
            @include float(left);
            width: 100%;
            position:relative;
            padding-top:12px;
            margin-bottom:37px;
            label{
                @include float(left);
                width: 100%;
                position:absolute;
                top:20px;
                left:0;
                right:0;
                @include hurme_light(13px, 15px, #b1b1b1);
                letter-spacing: 0.02em;
                @include transition(top 0.2s ease);
            }
            input{
                @include float(left);
                width: 100%;
                position:relative;
                z-index:1;
                @include hurme_semibold(13px, 30px, #805b3b);
                letter-spacing: 0.02em;
                background-color:transparent;
                border-bottom:1px solid #dfdfdf;
            }
            &.filled{
                label{
                    top:0;
                }
            }
            &.erro{
                input{
                    border-color:#fd6666;
                }
            }
        }
        .baixo_form{
            @include float(left);
            width: 100%;
            padding-top:23px;
        }
        button{
            @include float(left);
            width: 100%;
            background-color:#dfdfdf;
            text-align:center;
            @include hurme_semibold(16px, 18px, #464646);
            letter-spacing: 0.02em;
            padding:15px;
            @include transition(color 0.2s ease,background-color 0.2s ease);
            &:hover{
                @include media($hover) {
                    color:#fff;
                    background-color:#a78b6e;
                }
            }
        }
        .msg{
            @include float(left);
            width: 100%;
            text-align:center;
            @include hurme_semibold(13px, 15px, #805b3b);
            letter-spacing: 0.02em;
            padding:12px 0;
        }

    }
}

@keyframes animation_slideshow {
    0% { top:-50%;opacity:0; }
    5% { opacity:1; }

    27% { opacity:1; }
    30% { top:10%;left:-75%;right:auto;opacity:0; }
    31% { top:0;left:auto;right:-75%;opacity:0; }
    32% { opacity:1; }

    47% { opacity:1; }
    50% { top:0;right:-25%;left:auto;opacity:0; }
    51% { top:-5%;right:-50%;left:auto;opacity:0; }
    52% { opacity:1; }

    93% { opacity:1; }
    98% { top:-50%;right:-50%;left:auto;opacity:0; }

    100% { top:-50%;left:-75%; }
}

@-moz-keyframes animation_slideshow {
    0% { top:-50%;opacity:0; }
    5% { opacity:1; }

    27% { opacity:1; }
    30% { top:10%;left:-75%;right:auto;opacity:0; }
    31% { top:0;left:auto;right:-75%;opacity:0; }
    32% { opacity:1; }

    47% { opacity:1; }
    50% { top:0;right:-25%;left:auto;opacity:0; }
    51% { top:-5%;right:-50%;left:auto;opacity:0; }
    52% { opacity:1; }

    93% { opacity:1; }
    98% { top:-50%;right:-50%;left:auto;opacity:0; }

    100% { top:-50%;left:-75%; }
}

@-webkit-keyframes animation_slideshow {
    0% { top:-50%;opacity:0; }
    5% { opacity:1; }

    27% { opacity:1; }
    30% { top:10%;left:-75%;right:auto;opacity:0; }
    31% { top:0;left:auto;right:-75%;opacity:0; }
    32% { opacity:1; }

    47% { opacity:1; }
    50% { top:0;right:-25%;left:auto;opacity:0; }
    51% { top:-5%;right:-50%;left:auto;opacity:0; }
    52% { opacity:1; }

    93% { opacity:1; }
    98% { top:-50%;right:-50%;left:auto;opacity:0; }

    100% { top:-50%;left:-75%; }
}

.detalhe_produto{
    @include float(left);
    width: 100%;
    background-color: #f8f7f7;
    .in_detalhe_produto{
        @include float(left);
        width: 100%;
        border-bottom:1px solid #dfdfdf;
    }
    .lado_imagem{
        @include float(left);
        width: 49.23076923076923%;
        background-color:#fff;
        .img_holder{
            height:564px;
            background-color:#fff;
            img{
                width:65.625%;
                height:auto;
                display:none;
                &.mostrar{
                    display:block;
                }
                &.animation_img{
                    width:auto;
                    @include transform(none);
                    top:-50%;
                    left:-75%;
                    opacity:0;
                    animation:animation_slideshow 25s linear infinite;
                    -moz-animation:animation_slideshow 25s linear infinite;
                    -webkit-animation:animation_slideshow 25s linear infinite;
                }
            }
        }
    }
    .modos{
        @include float(left);
        width: 100%;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        text-align:center;
        z-index:1;
        li{
            display:inline-block;
            a{
                display:inline-block;
                position:relative;
                @include hurme_light(13px, 15px, #464646);
                letter-spacing: 0.05em;
                padding:17px 12px;
                @include transition(all 0.2s ease);
                &:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:1px;
                    height:0;
                    top:-8px;
                    left:calc(50% - 1px);
                    background-color:#805b3b;
                    @include transition(height 0.2s ease);
                }
            }
            &.active a{
                @include hurme_semibold(13px, 15px, #464646);
                &:after{
                    height:20px;
                }
            }
        }
    }
    .lado_info{
        @include float(right);
        width: 32.40769230769231%;
        margin-right:10%;
        padding:29px 0 44px 0;
        .linha{
            @include float(left);
            width: 100%;
            border-bottom:1px solid #eeeeee;
            &.pad_quinze{
                padding-top:15px;
            }
            &.no_brd{
                border-bottom:none;
            }
            >img{
                @include float(left);
                margin-top:30px;
                margin-bottom:30px;
            }
        }
        h1{
            @include float(left);
            width: 100%;
            @include hurme_bold(20px, 22px, #805b3b);
            letter-spacing: 0.05em;
            margin-top:24px;
            margin-bottom:5px;
        }
        h2{
            @include float(left);
            width: 100%;
            @include hurme_light_obl(12px, 14px, rgba(70,70,70,0.6));
            letter-spacing: 0.05em;
            margin-bottom:23px;
        }
        p{
            @include float(left);
            width: 100%;
            @include hurme_light(13px, 18px, #636363);
            letter-spacing: 0.05em;
            margin-bottom:26px;
        }
        .metade{
            @include float(left);
            width: 50%;
            @include hurme_light(18px, 20px, #a78b6e);
            letter-spacing: 0.05em;
            text-align:center;
            >a{
                @include float(left);
                position:relative;
                width: 100%;
                @include hurme_semibold(13px, 15px, #b1b1b1);
                letter-spacing: 0.05em;
                border-left:1px solid #eeeeee;
                padding:27px 12% 31px 12%;
                @include transition(color 0.2s ease,background-color 0.2s ease);
                &:before,&:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:2px;
                    height:2px;
                    top:calc(50% - 1px);
                    left:8.571428571428571%;
                    background-color:#b1b1b1;
                }
                &:after{
                    left:auto;
                    right:8.571428571428571%;
                }
                &:hover{
                    color:#a78b6e;
                    background-color:#fff;
                    &:before,&:after{
                        background-color:#a78b6e;
                    }
                }
            }
            >span{
                @include float(left);
                position:relative;
                width: 100%;
                padding:25px 0 28px 0;
                &:before,&:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:1px;
                    top:0;
                    bottom:0;
                    right:-1px;
                    background-color:#eeeeee;
                }
            }
            &.pequena{
                width:47.61904761904762%;
                @include hurme_light(13px, 15px, #636363);
                text-align:left;
                padding:12px 0;
            }
            &.right{
                float:right;
            }
        }
    }
}
.lista_produtos.recomendados {
    padding:55px 0 35px 0;
    .titulo_recomendados{
        @include float(left);
        width: 100%;
        @include hurme_semibold(18px, 20px, #464646);
        letter-spacing: 0.05em;
        margin:0 0 34px 0;
    }
    .lista_geral .lista_geral_item .corner{
        display:none;
    }
}
.content_holder{
    @include float(left);
    position:relative;
    width: 100%;
}
.pop{
    display:none;
    float:left;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9;
    overflow:hidden;
    .mask{
        @include float(left);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:#464646;
        opacity:0.8;
    }
    .wrapper{
        @include float(left);
        position:absolute;
        width:100%;
        max-width:1080px;
        top:149px;
        left:50%;
        @include transform(translateX(-50%));
        background-color:#fff;
        z-index:1;
        padding:56px 10.18518518518519% 59px 10.18518518518519%;
        border:1px solid #ebeaea;
        .titulo{
            @include float(left);
            width: 100%;
            >span{
                @include float(left);
                position:relative;
                @include hurme_bold(15px, 17px, #464646);
                letter-spacing: 0.02em;
                &:after{
                    content:"";
                    @include float(left);
                    position:absolute;
                    width:131px;
                    height:1px;
                    top:8px;
                    right:-147px;
                    background-color:#beac9c;
                }
            }
        }
        .formulario{
            @include float(right);
            width:100%;
            padding-top:24px;
            .metade{
                @include float(left);
                width:50%;
                padding-left:1.162790697674419%;
                &.left{
                    padding-left:0;
                    padding-right:1.162790697674419%;
                }
            }
            .to_field{
                @include float(left);
                width: 100%;
                position:relative;
                padding-top:12px;
                margin-bottom:37px;
                label{
                    @include float(left);
                    width: 100%;
                    position:absolute;
                    top:20px;
                    left:0;
                    right:0;
                    @include hurme_light(13px, 15px, #b1b1b1);
                    letter-spacing: 0.02em;
                    @include transition(top 0.2s ease);
                }
                input{
                    @include float(left);
                    width: 100%;
                    position:relative;
                    z-index:1;
                    @include hurme_semibold(13px, 30px, #805b3b);
                    letter-spacing: 0.02em;
                    background-color:transparent;
                    border-bottom:1px solid #dfdfdf;
                }
                &.filled{
                    label{
                        top:0;
                    }
                }
                &.erro{
                    input{
                        border-color:#fd6666;
                    }
                }
            }
            .baixo_form{
                @include float(left);
                width: 100%;
                padding-top:23px;
            }
            button{
                @include float(left);
                width: 100%;
                background-color:#dfdfdf;
                text-align:center;
                @include hurme_semibold(16px, 18px, #464646);
                letter-spacing: 0.02em;
                padding:15px;
                @include transition(color 0.2s ease,background-color 0.2s ease);
                &:hover{
                    @include media($hover) {
                        color:#fff;
                        background-color:#a78b6e;
                    }
                }
            }
            .msg{
                @include float(left);
                width: 100%;
                text-align:center;
                @include hurme_semibold(13px, 15px, #805b3b);
                letter-spacing: 0.02em;
                padding:12px 0;
            }

        }
    }
    .close_pop{
        @include float(left);
        position:absolute;
        width:26px;
        height:26px;
        top:48px;
        right:10.18518518518519%;
        border:1px solid #dfdfdf;
        border-radius:50%;
        @include transform(rotate(-45deg));
        @include transition(background-color 0.2s ease);
        &:before,&:after{
            content:"";
            @include float(left);
            position:absolute;
            width:2px;
            height:12px;
            top:calc(50% - 6px);
            left:calc(50% - 1px);
            background-color:#b1b1b1;
            @include transition(background-color 0.2s ease);
        }
        &:after{
            content:"";
            @include float(left);
            position:absolute;
            width:12px;
            height:2px;
            top:calc(50% - 1px);
            left:calc(50% - 6px);
            background-color:#b1b1b1;
        }
        &:hover{
            border-color:#464646;
            &:before,&:after{
                background-color:#464646;
            }
        }
    }
}
